form
	p.
		<label>Оберіть категорію питання</label>
		<select>
			<option value="" selected="">Не обрано</option>
			<option value="570">Бібліотека</option>
			<option value="371">Вступ</option>
			<option value="443">Запитання до ректора</option>
			<option value="449">Протидія корупції</option>
			<option value="412">Різне</option>
			<option value="2591">Стипендії</option>
		</select>
	p.
		<label>Ваше им`я</label>
		<input id="faq_question_uname" type="text">
	p.
		<label for="question_email">Ваш e-mail</label>
		<input id="question_email" type="email">
	p.
		<label for="question_msg">Текст повідомлення</label>
		<textarea name="question[msg]" id="question_msg" rows="5" required="" class="form-control"></textarea>
	p <button type="submit">Задати питання</buttonЮ