//-
	Сайдбар подвала




mixin widget_basement( args )
	.col-xs-12.col-sm-6.col-md-3.col-lg-3
		+widget( args )
			block




.container: .row
	+widget_basement( { title: 'Заголовок виджета 1' } )
		ul
			li: a( href="#" ) Lorem ipsum dolor sit amet
			li: a( href="#" ) Lorem ipsum dolor sit amet
			li: a( href="#" ) Lorem ipsum dolor sit amet
			li: a( href="#" ) Consectetur adipisicing elit
			li: a( href="#" ) Consectetur adipisicing elit
	+widget_basement( { title: 'Заголовок виджета 2' } )
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo voluptatibus deserunt, doloribus nulla neque ipsam at praesentium, vitae suscipit voluptas nisi facere eum iste reprehenderit ex hic.
	+widget_basement( { title: 'Заголовок виджета 3' } )
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo voluptatibus deserunt, doloribus nulla neque ipsam at praesentium, vitae suscipit voluptas nisi facere eum iste reprehenderit ex hic.
	+widget_basement( { title: 'Заголовок виджета 4' } )
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo voluptatibus deserunt, doloribus nulla neque ipsam at praesentium, vitae suscipit voluptas nisi facere eum iste reprehenderit ex hic.