//-
	Сайдбар главной страницы



mixin widget_calendar( args )
	+widget( args )
		article
			small #[b 20.11.2019 - 20.12.2019] 
			span Lorem ipsum dolor sit amet, consectetur adipisicing elit
		article
			small #[b 20.11.2019 - 20.12.2019] 
			span Lorem ipsum dolor sit amet, consectetur adipisicing elit



aside.aside.aside--events
	+widget_calendar( { type: 'default', title: 'Бакалавр дневная форма' } )
	+widget_calendar( { type: 'primary', title: 'Бакалавр на базе ПЗСО', thumbnail: src.img+'events/book.png' } )
	+widget_calendar( { type: 'success', title: 'Магистр дневная' } )
	+widget_calendar( { type: 'warning', title: 'Заочная форма' } )
	+widget_calendar( { type: 'default', title: 'Бакалавр на базе высшего образования' } )
	+widget_calendar( { type: 'primary', title: 'Магистры заочной форма обучения' } )