//-
	Сайдбар главной страницы
	Предложения




mixin widget_offers( args )
	.col-xs-6




aside.aside.aside--offers: .container: .row
	+widget_offers( {} )
	+widget_offers( {} )
	+widget_offers( {} )
	+widget_offers( {} )
	+widget_offers( {} )
	+widget_offers( {} )