


%button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: .25rem solid;
	padding: 0.25rem 2rem;
	color: #fff;
	text-transform: uppercase;
	// position: relative;
	// overflow: hidden;
	transition: background-color .5s;
	letter-spacing: .1rem;
	// &::after,
	// &::before {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	transform-origin: center center;
	// 	opacity: 0;
	// 	transition: transform .5s, opacity .2s;
	// 	background-color: #fff;
	// 	z-index: -1;
	// }
	// &::before {
	// 	transform: translate( -100%, 0 );
	// }
	// &::after {
	// 	transform: translate( 100%, 0 );
	// }
	// &:hover {
	// 	text-decoration: none;
	// 	background-color: transparent;
	// }
	// &:hover::after,
	// &:hover::before {
	// 	transform: translate( 0%, 0% );
	// 	opacity: 1;
	// }
}


%button-default {
	background-color: $brand-default;
	border-color: $brand-default;
	// &:hover {
	// 	color: $brand-default;
	// }
}


%button-primary {
	background-color: $brand-primary;
	border-color: $brand-primary;
	// &:hover {
	// 	color: $brand-primary;
	// }
}


%button-success {
	background-color: $brand-success;
	border-color: $brand-success;
	// &:hover {
	// 	color: $brand-success;
	// }
}


%button-warning {
	background-color: $brand-warning;
	border-color: $brand-warning;
	// &:hover {
	// 	color: $brand-warning;
	// }
}



%button-small {
	padding: 0 1rem;
	border-radius: 0;
	font-size: 85%;
	border: .1rem solid;
}



%button-large {
	padding: 1rem 3rem;
	// border-radius: $border-radius * 2;
}