











%box {
	background-color: #fff;
	box-shadow: $block-shadow;
	border-left: 5px solid;
	padding: 1em;
}


%box-default { border-left-color: $brand-default; }
%box-primary { border-left-color: $brand-primary; }
%box-success { border-left-color: $brand-success; }
%box-warning { border-left-color: $brand-warning; }