%list-unstyled { @include list-unstyled; }

%list-inline { @include list-inline; }

%xy-center { @include xy-center; }

%center-block { @include center-block; }

%link-unstyled {
	@include td ( inherit, inherit );
	@include color ( inherit, inherit, inherit, inherit );
}

%list-checked {
	padding-left: 0;
	li, .item {
		list-style-type: none;
	}
	li::before, .item::before {
		@extend %background-icon;
		@extend %icon-checked;
		@include size( $line-height-base * 1em, $line-height-base * 1em );
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin-right: .5em;
	}
	&.red-bullet li::before, &.item::before { @extend %icon-checked-red; }
	&.blue-bullet li::before, &.item::before { @extend %icon-checked-blue; }
}

%clearfix { @include clearfix; }

%text-overflow { @include text-overflow; }

%dl-horizontal { @include dl-horizontal; }


%bgi {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

%bgi-cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}