%list-unstyled { @include list-unstyled; }

%list-inline { @include list-inline; }

%xy-center { @include xy-center; }

%center-block { @include center-block; }

%link-unstyled {
	@include td ( inherit, inherit );
	@include color ( inherit, inherit, inherit, inherit );
}

%clearfix { @include clearfix; }

%text-overflow { @include text-overflow; }

%dl-horizontal { @include dl-horizontal; }


%title {
	font-weight: bold;
  	margin-top: .2em;
  	margin-bottom: .2em;
}


%bgi-cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}