@mixin color ( $link: $link-color, $hover: $link-hover-color, $visited: $link-color, $active: $link-hover-color ) {
  &:link { color: $link; }
  &:visited { color: $visited; }
  &:active { color: $active; }
  &:hover { color: $hover; }
}

@mixin td ( $link: none, $hover: underline ) {
  text-decoration: $link;
  &:hover { text-decoration: $hover; }
}


@mixin min-width($min-width) {
  @media only screen and (min-width : $min-width) {
    @content;
  }
}

@mixin max-width($max-width) {
  @media only screen and (max-width : $max-width) {
    @content;
  }
}


@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}


@mixin hide-text() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin size( $width: auto, $height: auto ) {
  width: $width;
  height: $height;
}

@mixin reset-text() {
  font-family: $font-family-base;
  // We deliberately do NOT reset font-size.
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: $line-height-base;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

@mixin img-responsive( $display: block ) {
  display: $display;
  max-width: 100%;
  height: auto;
}

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

@mixin list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@mixin dl-horizontal {
  dd { @include clearfix; }
  @media ( min-width: $screen-sm ) {
    dt {
      float: left;
      width: 100px;
      clear: left;
      text-align: right;
      @include text-overflow;
    }
    dd { margin-left: 120px; }
  }
}

@mixin xy-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


//
//  Иконки
//

@mixin icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 256px;
  max-height: 256px;
}



//
//  Кнопки
//

@mixin button {
  text-decoration: none;
  text-align: center;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: $box-shadow;
  max-width: 100%;
  font-weight: bold;
  vertical-align: middle;
  letter-spacing: 1px;
}

@mixin button-large {
  font-size: 13px;
  line-height: line-height( 13px );
  padding: 13px 35px;
  border-radius: 35px;
  min-width: 150px;
}

@mixin button-middle {
  font-size: 12px;
  line-height: line-height( 12px );
  padding: 10px 20px;
  border-radius: 30px;
  min-width: 100px;
}

@mixin button-small {
  font-size: 11px;
  line-height: line-height( 11px );
  padding: 5px 10px;
  border-radius: 20px;
  min-width: 75px;
}

@mixin button-block {
  display: block;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}