//
//	Переменные
//


$screen-sm:					576px;
$screen-md:					768px;
$screen-lg:					992px;
$screen-xl:					1200px;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1em;
$flexboxgrid-outer-margin: 1em;
$flexboxgrid-breakpoints:
  xs $screen-sm 540px,
  sm $screen-md 720px,
  md $screen-lg 960px,
  lg $screen-xl 1140px;
$flexboxgrid-max-width: 1920px;
$smallest: xs;



$brand-default:         #888888;
$brand-primary:         #192f59;
$brand-success:         #24c85e;
$brand-warning:         #F26C53;
$brand-info:            lighten( $brand-primary, 20% );


$body-color: #efefef;
$titles-color: #464646;
$text-color: $brand-default;
$link-color: lighten( $titles-color, 20% );

$font-size-base:    13px;
$line-height-base:  20em / 13em;
$line-height-computed: floor( $font-size-base * $line-height-base );

$font-family-base: 'Roboto', sans-serif;
$block-shadow: 0px 1em 1em rgba( 0, 0, 0, 0.2 );