//
//	Переменные
//



$screen-sm:					38em;
$screen-md:					51em;
$screen-lg:					75em;
$screen-xl:					90em;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1em;
$flexboxgrid-outer-margin: 1em;
$flexboxgrid-breakpoints:
	xs $screen-sm 36em,
	sm $screen-md 48em,
	md $screen-lg 70em,
	lg $screen-xl 87em;
$flexboxgrid-max-width: 1920px;
$smallest: xs;


$brand-default:     #555555;
$brand-primary:     #0c426f;
$brand-success:     #28b7dd;
$brand-warning:     #d87200;
$brand-info:        #0098a4;
$brand-danger:      #971b2f;


$body-color: #ffffff;
$titles-color: #333333;
$text-color: $brand-default;
$link-color: $titles-color;



$font-size-base:		16px;
$line-height-base:	26em / 16em;
$line-height-computed: floor( $font-size-base * $line-height-base );



$font-family-base: 'Roboto', sans-serif;



$border-color: #e1e1e1;