













form {

	label {
		display: block;
		font-weight: bold;
		margin-top: .5em;
	}

	select,
	textarea,
	input[ type="text" ],
	input[ type="email" ],
	input[ type="password" ] {
		// border-radius: $border-radius;
		background-color: #fff;
		padding: .5em 1em;
		display: block;
		border: 1px solid $brand-primary;
		margin-top: .5em;
		margin-bottom: .5em;
		width: 100%;
		box-sizing: border-box;
		outline: none;
		color: $text-color;
	}


	select {
		@extend %icon-arrow-dark;
		appearance: none;
		background-repeat: no-repeat;
		background-size: 1em 1em;
		background-position: 98% 50%;
	}


	textarea {
		resize: vertical;
	}


	[ type="submit" ]:not( .searchsubmit ) {
		@extend %button;
		@extend %button-primary;
	}


	&.searchform {
		position: relative;
		.form-control {
			margin: 0;
			padding-right: 2.5em;
		}
		.searchsubmit {
			@extend %background-icon;
			position: absolute;
			display: block;
			border: none;
			background-image: url( 'data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTYuOTY2IDU2Ljk2NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTYuOTY2IDU2Ljk2NjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48Zz48cGF0aCBkPSJNNTUuMTQ2LDUxLjg4N0w0MS41ODgsMzcuNzg2YzMuNDg2LTQuMTQ0LDUuMzk2LTkuMzU4LDUuMzk2LTE0Ljc4NmMwLTEyLjY4Mi0xMC4zMTgtMjMtMjMtMjNzLTIzLDEwLjMxOC0yMywyMyAgczEwLjMxOCwyMywyMywyM2M0Ljc2MSwwLDkuMjk4LTEuNDM2LDEzLjE3Ny00LjE2MmwxMy42NjEsMTQuMjA4YzAuNTcxLDAuNTkzLDEuMzM5LDAuOTIsMi4xNjIsMC45MiAgYzAuNzc5LDAsMS41MTgtMC4yOTcsMi4wNzktMC44MzdDNTYuMjU1LDU0Ljk4Miw1Ni4yOTMsNTMuMDgsNTUuMTQ2LDUxLjg4N3ogTTIzLjk4NCw2YzkuMzc0LDAsMTcsNy42MjYsMTcsMTdzLTcuNjI2LDE3LTE3LDE3ICBzLTE3LTcuNjI2LTE3LTE3UzE0LjYxLDYsMjMuOTg0LDZ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiMwMDAwMDAiPjwvcGF0aD48L2c+IDwvc3ZnPg==' );
			background-color: transparent;
			width: 1.5em;
			height: 1.5em;
			top: 0;
			right: 0;
			margin: .5em;
		}
	}


}