
//  Шапка сайта
.header {


	&--fixed {
		background-color: $brand-primary;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
	}

	&.header--stick .custom-logo-link {
		width: 3em;
		height: 3em;
	}


	&.header--stick .line--nav {
		padding: 0;
	}


	.wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.line {
		padding: .5em 0;
		transition: padding .2s;
		a { color: #fff; }
		.sub-menu a { color: #dbdbdb; }
		.sub-menu a:hover { color: #fff; }
		&--nav { background-color: lighten( $brand-primary, 10% ); }
	}

	.languages,
	.links {
		margin: 0 .5em 0 0;
		padding-left: 0;
		list-style-type: none;
	}

	// .contacts,
	.socials {
		display: none;
		@include min-width( $screen-sm ) {
			display: block;
		}
	}


	.links  .label {
		display: none;
		@include min-width( $screen-lg ) {
			display: inline;
		}
	}

	.searchform {
		font-size: 75%;
		margin-right: 1em;
		@include min-width( $screen-md ) {
			margin-left: auto;
		}
	}

	.current {
		font-weight: bold;
		font-size: 85%;
		color: #fff;
	}

	.custom-logo-link {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 5em;
		height: 5em;
		flex-shrink: 0;
		transition: width .2s, height .2s;
		&:hover { text-decoration: none; }
	}

	.custom-logo {
		display: block;
		flex-shrink: 0;
		margin-right: 1em;
	}

	.blog-name {
		font-weight: bold;
		font-size: 2em;
		@include min-width( $screen-lg ) {
			display: none;
		}
	}

	.nav {
		flex-grow: 1;
	}


}