
// перовый экран для шлавной страницы и конрневых страниц
.jumbotron {

	padding: 3em 0 5em 0;
	position: relative;
	color: #fff;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.bg {
		@extend %bgi-cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	.bg::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient( to right, $brand-primary 0%, $brand-primary 25%, transparent );
		z-index: 0;
	}

	a {
		color: #fff;
	}

	.menu {
		box-sizing: border-box;
		list-style-position: inside;
		padding-left: 0;
		@include min-width( $screen-md ) {
			column-gap: 1em;
			column-width: 10em;
			column-count: 2;
		}
	}

	.title {
		@extend h1;
		max-width: 25em;
	}

	.excerpt {
		margin: 2em 0;
		max-width: 40em;
	}

	.warning {
		margin-top: 5em;
	}

	.warning li {
		display: inline-block;
		margin-right: .5em;
	}

	.warning li + li::before {
		content: '|';
		margin-right: .5em;
	}

}