
// перовый экран для шлавной страницы и конрневых страниц
.jumbotron {

	padding: 2em 0 5em 0;
	position: relative;
	color: #fff;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.bg {
		@extend %bgi-cover;
		@extend %bgi;
	}

	.bg::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient( to right, $brand-primary 0%, $brand-primary 25%, transparent );
		z-index: 0;
	}

	.blogname {
		display: none;
		visibility: hidden;
		font-size: 2em;
		font-weight: bold;
		opacity: .25;
		text-shadow: .5em .5em .5em rgba( 0, 0, 0, .5 );
		position: absolute;
		max-width: 20em;
		right: 0;
		bottom: 0em;
		margin-bottom: 1.5em;
		padding: 0 1em;
		text-align: right;
		@include min-width( $screen-sm ) {
			display: block;
			visibility: visible;
		}
	}

	a {
		color: #fff;
	}

	.menu {
		box-sizing: border-box;
		list-style-position: inside;
		padding-left: 0;
		@include min-width( $screen-md ) {
			column-gap: 1em;
			column-width: 10em;
			column-count: 2;
		}
	}

	.title {
		@extend h1;
		max-width: 45em;
	}

	.excerpt {
		margin: 2em 0;
		max-width: 45em;
	}

}