//
//	Пагинация CMS Wordpress
//



.pagination {

	text-align: center;
	margin: 2em 0;

	h2 {
		font-size: 1em;
		margin: 0.5em 0em;
		font-weight: normal;
	}

	.nav-links .meta-nav { display: none; }

	.page-numbers {
		padding: 0;
		margin: 0.2em;
		min-width: 2em;
		height: 2em;
		line-height: 2em;
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.current {
		font-size: 1.2em;
		color: #fff;
		background-color: $brand-primary;
	}

}