//-
//-	Заголовок старницы
//-


.pageheader {
	
	.title {
		margin-top: 0;
		margin-right: -$flexboxgrid-outer-margin / 2;
		margin-bottom: .5em;
		margin-left: 0;
		padding: .5em;
		text-align: left;
		font-size: 2em;
		background-color: $brand-info;
		color: #fff;
	}

}