
// стартная секция
.section {

	margin: 3em auto;
	padding: 3em 0;
	position: relative;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	&:last-of-type {
		margin-bottom: 0;
	}

}