










.slider {

	position: relative;
	width: 100%;
	max-width: 100%;

}


.slick-track {
	display: flex !important;
}


.slick-slide {
	height: auto !important;
}


.slider-arrow {

	@extend %background-icon;
	@extend %icon-arrow-dark;
	background-color: transparent;
	width: 1em;
	height: 1em;
	border: none;
	transform-origin: center center;
	margin-left: .5em;
	margin-right: .5em;

	&.prev { order: -1; transform: rotate( 90deg ); }
	&.next { order: 1; transform: rotate( -90deg ); }

}


.slider-controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.slider-controls .slider-dots {
	order: 0;
}


.slider-dots {

	display: block;
	list-style-type: none;
	padding-left: 0;
	margin-top: $font-size-base;
	margin-bottom: $font-size-base;
	text-align: center;
	font-size: 0;

	li {
		display: inline-block;
		margin-left: $font-size-base / 4;
		margin-right: $font-size-base / 4;
	}

	button {
		line-height: 0;
		width: $font-size-base / 2;
		height: $font-size-base / 2;
		padding: 0;
		border-radius: 50%;
		opacity: .5;
		background-color: $brand-default;
		border: none;
	}

	.slick-active button {
		opacity: 1;
	}

}