










.slider {

	position: relative;

}


.slider-arrow {

	@extend %xy-center;
	position: absolute;
	border: 1px solid $border-color;
	width: 3em;
	height: 3em;
	top: 50%;
	margin-top: -1.5em;
	padding: 0;
	z-index: 50;
	background-color: #fff;
	transform-origin: center center;

	&::before {
		@extend %background-icon;
		@extend %icon-arrow;
		content: '';
		width: 1em;
		height: 1em;

	}


	&.arrow-prev { right: 100%; }
	&.arrow-prev::before { transform: rotate( 90deg ); }

	&.arrow-next { left: 100%; }
	&.arrow-next::before { transform: rotate( -90deg ); }

}



.slider-dots {

	display: block;
	list-style-type: none;
	padding-left: 0;
	margin-top: $font-size-base / 2;
	margin-bottom: $font-size-base / 2;
	text-align: center;
	font-size: 0;

	li {
		display: inline-block;
		margin-left: $font-size-base / 4;
		margin-right: $font-size-base / 4;
	}

	button {
		line-height: 0;
		width: $font-size-base / 2;
		height: $font-size-base / 2;
		padding: 0;
		border-radius: 50%;
		opacity: .5;
		background-color: $brand-default;
		border: none;
	}

	.slick-active button {
		opacity: 1;
	}

}