//
//
//
//



$social-list: (
	'facebook' : #4267b2,
	'twitter': #64a8f2,
	'linkedin': #0077b5,
	'instagram': #e04473,
	'youtube': #fe021c,
);



.socials {

	padding: 0;
	list-style-type: none;

	li {
		display: inline-block;
		margin: .2em .5em;
		vertical-align: middle;
	}

	a {
		@extend %xy-center;
		box-shadow: $block-shadow;
		width: 2em;
		height: 2em;
		background-color: #fff;
		overflow: hidden;
		position: relative;
	}

	a:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translate( -100%, 0% );
		transition: transform 100ms;
	}

	a:after {
		@extend %background-icon;
		content: '';
		width: 1em;
		height: 1em;
	}

	a:hover:before { transform: translate( -90%, 0% ); }

	@each $social-name, $social-color in $social-list {
		a.#{$social-name}:after {
			@extend %icon-social-#{$social-name};
		}
		a.#{$social-name}:before {
			background-color: $social-color;
		}
	}

}