//
// Стиль кнопки "наверх"
//
//




.to-top-btn {

	@extend %xy-center;
	border: none;
	position: fixed;
	left: 1em;
	bottom: 1em;
	width: 3em;
	height: 3em;
	// border-radius: 50%;
	box-shadow: $block-shadow;
	padding: 0;
	margin: 0;
	background-color: $brand-primary;
	transform-origin: center center;
	z-index: 100;

	&:before {
		@extend %background-icon;
		@extend %icon-double-arrow;
		content: '';
		width: 1em;
		height: 1em;
	}

}