-
	var companies = {
		nduaz: {
			name: {
				uk: 'Нахічеванський державний університет',
				en: 'Nakhchivan State University'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/nahichevanskyj-derzhavnyj-universytet-150x150.png',
			link: 'https://ndu.edu.az/'
		},
		aztueduaz: {
			name: {
				uk: 'Азербайджанський технічний університет',
				en: 'Azerbaijan Technical University'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/azerbajdzhanskyj-tehnichnyj-universytet-150x150.png',
			link: 'http://aztu.edu.az/'
		},
		mechelenlessius: {
			name: {
				uk: 'Lessius-Mechelen campus de Nayer',
				en: 'Lessius-Mechelen campus de Nayer'
			},
			logo: '',
			link: 'http://mechelen.lessius.eu/'
		},
		periskal: {
			name: {
				uk: 'Periskal cvba',
				en: 'Periskal cvba'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/periskal-cvba-300x74.png',
			link: 'http://www.periskal.com/'
		},
		bseuby: {
			name: {
				uk: 'Білоруський державний економічний університет',
				en: 'Belarus State Economic University'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/biloruskyj-derzhavnyj-ekonomichnyj-universytet-150x150.png',
			link: 'http://bseu.by/'
		},
		mspuby: {
			name: {
				uk: 'Мозирський державний педагогічний університет імені Шимякина',
				en: 'Mozyr State Pedagogical University named after I.P. Shamyakin'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/mozyrskyj-gosudarstvennyj-pedagogycheskyj-unyversytet-ymeny-y.p.shamyakyna-150x150.png',
			link: 'http://mspu.by/index.php/en/'
		},
		internobmenbg: {
			name: {
				uk: 'Компанія "Інтернобмен"',
				en: 'INTERNOBMEN Ltd'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/kompaniya-internobmen.png',
			link: 'https://internobmen.bg/'
		},
		delcamcom: {
			name: {
				uk: 'Delcam plc',
				en: 'Delcam plc'
			},
			logo: '',
			link: 'https://www.delcam.com'
		},
		britishcouncil: {
			name: {
				uk: 'Британська Рада в Україні',
				en: 'British Council in Ukraine'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2020/12/logotyp-british-council.jpg',
			link: 'https://www.britishcouncil.org.ua/'
		},
		uoigr: {
			name: {
				uk: 'Університет Яніна',
				en: 'University of Ioannina'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/university-of-ioannina-150x150.png',
			link: 'https://www.uoi.gr/en/'
		},
		gueduge: {
			name: {
				uk: 'Горійський державний навчальний університет',
				en: 'Gori State Teaching University'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/gorijskyj-derzhavnyj-navchalnyj-universytet.png',
			link: 'https://www.gu.edu.ge/en/'
		},
		unikeduge: {
			name: {
				uk: 'Кутаїський Університет',
				en: 'Kutaisi University'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/kutayiskyj-universytet-300x96.png',
			link: 'https://www.unik.edu.ge/'
		},
		timsgoveg: {
			name: {
				uk: 'Табінський металургійний інститут',
				en: 'Tabbin Institute of Metallurgical Study'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/tabinskyj-metalurgijnyj-instytut-150x150.png',
			link: 'http://tims.gov.eg/en/'
		},
		iimtechnionacil: {
			name: {
				uk: 'Technion Reseach Development Foundation Israil Institute of Metal',
				en: 'Technion Reseach Development Foundation Israil Institute of Metal'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/technion-reseach-development-foundation-israil-institute-of-metal.png',
			link: 'https://iim.technion.ac.il/'
		},
		ucoes: {
			name: {
				uk: 'Університет Кордоба',
				en: 'University of Córdoba'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/universytet-kordoba.png',
			link: 'https://www.uco.es/'
		},
		hubei: {
			name: {
				uk: 'Metal Valley Band (Hubei) High-Tech Industry development Co.Ltd',
				en: 'Metal Valley Band (Hubei) High-Tech Industry development Co.Ltd'
			},
			logo: '',
			link: ''
		},
		enwhueducn: {
			name: {
				uk: 'Уханський університет науки і техніки',
				en: 'Wuhan University of Science and Technology'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/uhanskyj-universytet-nauky-i-tehniky-150x150.png',
			link: 'https://en.whu.edu.cn/'
		},
		materialskievua: {
			name: {
				uk: 'Інститут проблем матеріалознавства ім. І.Н. Францевіча НАН України',
				en: 'Technology and Frantsevich IPMS of NAS of Ukraine'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/instytut-problem-materialoznavstva-im.-i.n.-franczevicha-nan-ukrayiny.png',
			link: 'http://www.materials.kiev.ua/'
		},
		wfueducn: {
			name: {
				uk: 'Вейфанський університет',
				en: 'Weifang University'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/weifang-university-150x150.png',
			link: 'https://www.wfu.edu.cn/'
		},
		vdult: {
			name: {
				uk: 'Університет Вітаутаса Магнуса',
				en: 'Vytautas Magnus University'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/universytet-vitautasa-magnusa.png',
			link: 'https://www.vdu.lt/en/'
		},
		mrunieu: {
			name: {
				uk: 'Університет Миколаса Ромеріса',
				en: 'Mykolas Romeris University'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/universytet-mykolasa-romerisa.png',
			link: 'https://www.mruni.eu/'
		},
		asemd: {
			name: {
				uk: 'Молдавська економічна академія',
				en: 'The Academy of Economic Studies of Moldova'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/moldavska-ekonomichna-akademiya.png',
			link: 'https://ase.md/'
		},
		aommzcom: {
			name: {
				uk: 'Молдавський металургійний завод',
				en: 'JSC Moldova Steel Works'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/moldavskyj-metalurgijnyj-zavod.png',
			link: 'https://www.aommz.com/en/about'
		},
		fhwsde: {
			name: {
				uk: 'Університет Вюрцбург-Швайнфуркт',
				en: 'University of Applied Sciences Würzburg-Schweinfurt'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/universytet-vyurczburg-shvajnfurkt.png',
			link: 'https://www.fhws.de/en/'
		},
		aghedupl: {
			name: {
				uk: 'Гірничо-Металургійна Академія у Кракові імені Станіслава Сташиця',
				en: 'AGH University of Science and Technology'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/girnycho-metalurgijna-akademiya-u-krakovi-im.-stanislava-stashyczya.png',
			link: 'https://www.agh.edu.pl/'
		},
		plodzpl: {
			name: {
				uk: 'Лодзька Політехніка',
				en: 'Lodz University of Technology'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/lodzka-politehnika.png',
			link: 'https://p.lodz.pl/'
		},
		panoramamorskapl: {
			name: {
				uk: 'Панорама Морська',
				en: 'Health Resort & Medical SPA Panorama Morska'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/panorama-morska.png',
			link: 'https://www.panorama-morska.pl/'
		},
		pbedupl: {
			name: {
				uk: 'Білостоцька Політехніка',
				en: 'Bialystok University of Technology'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/bilostoczka-politehnika.png',
			link: 'https://pb.edu.pl/'
		},
		berkeleyedu: {
			name: {
				uk: 'Університет Каліфорнія - Берклі (кафедра Хімії)',
				en: 'Berkeley University of California'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/universytet-kaliforniya-berkli.png',
			link: 'https://www.berkeley.edu'
		},
		americancouncils: {
			name: {
				uk: 'Американськи Ради з міжнародної освіти',
				en: 'American Councils of International Education: ACTR/ACCELS'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/amerykansky-rady-z-mizhnarodnoyi-osvity.png',
			link: 'https://www.americancouncils.org/'
		},
		ttutj: {
			name: {
				uk: 'Таджицький технічний університет імені М.С. Осімі',
				en: 'Tajik Technical University named after academic M.S.Osim'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/tadzhyczkyj-tehnichnyj-universytet-imeni-m.s.-osimi.png',
			link: 'http://ttu.tj/'
		},
		tgfeutj: {
			name: {
				uk: 'Таджицький державний університет фінансів та економіки',
				en: 'The Tajik state university of finance and economics'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/tadzhyczkyj-derzhavnyj-universytet-finansiv-ta-ekonomiky.png',
			link: 'http://tgfeu.tj/en/'
		},
		akuedutr: {
			name: {
				uk: 'Университет Афйон Коджатепе',
				en: 'Afyon Kocatepe University '
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/unyversytet-afjon-kodzhatepe-150x150.png',
			link: 'https://aku.edu.tr/'
		},
		unimiskolchu: {
			name: {
				uk: 'Мішкольцкий Університет',
				en: 'University of Miskolc'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/mishkolczkyj-universytet.png',
			link: 'https://www.uni-miskolc.hu/en'
		},
		beteninternational: {
			name: {
				uk: 'АТ Спрощенного типу Бетне Еннержьері',
				en: 'Societe par actions simplifie “BETTEN INGERIERIE”'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/at-sproshhennogo-typu-betne-ennerzheri.png',
			link: 'https://beteninternational.com/'
		},
		muroranitacjp: {
			name: {
				uk: 'Муроранський університет технологій',
				en: 'Muroran Institute of Technology '
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/muroranskyj-universytet-tehnologij.png',
			link: 'https://muroran-it.ac.jp/en/'
		},
		greenwichiic: {
			name: {
				uk: 'Міжнародний Інформаційний Центр "ГРІНВІЧ"',
				en: 'International Information Center "GRINVICH"'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/mizhnarodnyj-informaczijnyj-czentr-grinvich-150x150.png',
			link: 'http://greenwich-iic.com.ua/'
		},
	};