-
	var countries = {
		azerbaijan: {
			name: {
				uk: 'Азербайджан',
				en: 'Azerbaijan'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/azerbajdzhan-300x200.png'
		},
		belgium: {
			name: {
				uk: 'Бельгія',
				en: 'Belgium'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/belgyya-300x200.png'
		},
		belarus: {
			name: {
				uk: 'Білорусь',
				en: 'Belarus'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/belarus-300x200.png'
		},
		bulgaria: {
			name: {
				uk: 'Болгарія',
				en: 'Bulgaria'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/bolgaryya-300x200.png'
		},
		gb: {
			name: {
				uk: 'Великобританія',
				en: 'Great Britain'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/velykobrytanyya-300x200.png'
		},
		greece: {
			name: {
				uk: 'Греція',
				en: 'Greece'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/greczyya-300x200.png'
		},
		georgia: {
			name: {
				uk: 'Грузія',
				en: 'Georgia'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/gruzyya-300x200.png'
		},
		egypt: {
			name: {
				uk: 'Єгипет',
				en: 'Egypt'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/egypet-300x200.png'
		},
		israel: {
			name: {
				uk: 'Ізраїль',
				en: 'Israel'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/yzrayl-300x200.png'
		},
		spain: {
			name: {
				uk: 'Іспанія',
				en: 'Spain'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/yspanyya-300x200.png'
		},
		china: {
			name: {
				uk: 'Китай',
				en: 'China'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/kytaj-300x200.png'
		},
		lithuania: {
			name: {
				uk: 'Литва',
				en: 'Lithuania'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/lytva-300x200.png'
		},
		moldova: {
			name: {
				uk: 'Молдова',
				en: 'Moldova'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/moldova-300x200.png'
		},
		germany: {
			name: {
				uk: 'Німеччина',
				en: 'Germany'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/germanyya-300x200.png'
		},
		poland: {
			name: {
				uk: 'Польща',
				en: 'Poland'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/polsha-300x200.png'
		},
		usa: {
			name: {
				uk: 'США',
				en: 'USA'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/ssha-300x200.png'
		},
		tajikistan: {
			name: {
				uk: 'Таджикистан',
				en: 'Tajikistan'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/tadzhykystan-300x200.png'
		},
		turkey: {
			name: {
				uk: 'Турція',
				en: 'Turkey'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/turczyya-300x200.png'
		},
		hungary: {
			name: {
				uk: 'Угорщина',
				en: 'Hungary'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/vengryya-300x200.png'
		},
		france: {
			name: {
				uk: 'Франція',
				en: 'France'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/franczyya-300x200.png'
		},
		japan: {
			name: {
				uk: 'Японія',
				en: 'Japan'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/01/yaponyya-300x200.png'
		},
		all: {
			name: {
				uk: 'Міжнародна компанія',
				en: 'International company'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2021/04/zemnoj-shar-150x150.png'
		},
	};