-
	var partners_info = [{
			companies: [companies.nduaz],
			country: countries.azerbaijan,
			contract: {
				start: '13.08.2018',
				end: '13.08.2023'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.aztueduaz],
			country: countries.azerbaijan,
			contract: {
				start: '06.09.2019',
				end: '06.09.2024'
			},
			responsible: [units.ekf, units.ftt]
		},
		{
			companies: [companies.mechelenlessius],
			country: countries.belgium,
			contract: {
				start: '20.08.2012',
				end: 'безстрокова'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.periskal],
			country: countries.belgium,
			contract: {
				start: '15.04.2021',
				end: '15.04.2026'
			},
			responsible: [units.fit]
		},
		{
			companies: [companies.bseuby],
			country: countries.belarus,
			contract: {
				start: '10.01.2011',
				end: 'безстроковий'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.mspuby],
			country: countries.belarus,
			contract: {
				start: '27.11.2020',
				end: '27.11.2025'
			},
			responsible: [units.sgf]
		},
		{
			companies: [companies.internobmenbg],
			country: countries.bulgaria,
			contract: {
				start: '10.01.2017',
				end: 'безстрокова'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.delcamcom],
			country: countries.gb,
			contract: {
				start: '15.06.2012',
				end: 'безстрокова'
			},
			responsible: [units.fit]
		},
		{
			companies: [companies.britishcouncil],
			country: countries.gb,
			contract: {
				start: '02.11.2018',
				end: 'щорічне оновлення'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.uoigr],
			country: countries.greece,
			contract: {
				start: '07.12.2015',
				end: 'безстрокова'
			},
			responsible: [units.fit]
		},
		{
			companies: [companies.gueduge],
			country: countries.georgia,
			contract: {
				start: '08.01.2014',
				end: '08.01.2022'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.unikeduge],
			country: countries.georgia,
			contract: {
				start: '10.01.2010',
				end: 'безстроковий'
			},
			responsible: [units.sgf]
		},
		{
			companies: [companies.timsgoveg],
			country: countries.egypt,
			contract: {
				start: '11.07.2012',
				end: 'безстроковий'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.iimtechnionacil],
			country: countries.israel,
			contract: {
				start: '10.12.2019',
				end: '10.12.2024'
			},
			responsible: [units.enf]
		},
		{
			companies: [companies.ucoes],
			country: countries.spain,
			contract: {
				start: '22.04.2009',
				end: 'пролонгація'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.hubei],
			country: countries.china,
			contract: {
				start: '19.06.2019',
				end: 'безстрокова'
			},
			responsible: [units.fit]
		},
		{
			companies: [companies.enwhueducn],
			country: countries.china,
			contract: {
				start: '20.01.2013',
				end: 'безстроковий'
			},
			responsible: [units.mf]
		},
		{
			companies: [companies.enwhueducn, companies.materialskievua],
			country: countries.china,
			contract: {
				start: '20.06.2014',
				end: 'безстроковий'
			},
			responsible: [units.mf]
		},
		{
			companies: [companies.wfueducn],
			country: countries.china,
			contract: {
				start: '29.09.2010',
				end: 'безстроковий'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.vdult],
			country: countries.lithuania,
			contract: {
				start: '10.11.2020',
				end: '10.11.2025'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.mrunieu],
			country: countries.lithuania,
			contract: {
				start: '14.12.2020',
				end: '14.12.2025'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.asemd],
			country: countries.moldova,
			contract: {
				start: '25.02.2010',
				end: 'безстроковий'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.aommzcom],
			country: countries.moldova,
			contract: {
				start: '25.02.2010',
				end: 'безстроковий'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.fhwsde],
			country: countries.germany,
			contract: {
				start: '25.09.2016',
				end: '25.09.2022'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.aghedupl],
			country: countries.poland,
			contract: {
				start: '20.09.2007',
				end: 'безстрокова'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.aghedupl],
			country: countries.poland,
			contract: {
				start: '10.12.2013',
				end: 'безстрокова'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.aghedupl],
			country: countries.poland,
			contract: {
				start: '30.01.2017',
				end: 'безстрокова'
			},
			responsible: [units.fmz]
		},
		{
			companies: [companies.plodzpl],
			country: countries.poland,
			contract: {
				start: '12.06.2007',
				end: 'безстрокова'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.panoramamorskapl],
			country: countries.poland,
			contract: {
				start: '07.12.2016',
				end: 'не зазначено'
			},
			responsible: [units.sgf]
		},
		{
			companies: [companies.pbedupl],
			country: countries.poland,
			contract: {
				start: '26.12.2019',
				end: '26.12.2024'
			},
			responsible: [units.mf]
		},
		{
			companies: [companies.berkeleyedu],
			country: countries.usa,
			contract: {
				start: '01.01.2018',
				end: 'безстрокова'
			},
			responsible: [units.mf]
		},
		{
			companies: [companies.americancouncils],
			country: countries.usa,
			contract: {
				start: '23.11.2020',
				end: '30.06.2022'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.ttutj],
			country: countries.tajikistan,
			contract: {
				start: '28.03.2017',
				end: 'безстроковий'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.tgfeutj],
			country: countries.tajikistan,
			contract: {
				start: '04.01.2021',
				end: '04.01.2026'
			},
			responsible: [units.ekf]
		},
		{
			companies: [companies.akuedutr],
			country: countries.turkey,
			contract: {
				start: '10.01.2019',
				end: '10.01.2024'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.unimiskolchu],
			country: countries.hungary,
			contract: {
				start: '15.10.2010',
				end: 'безстрокова'
			},
			responsible: [units.fmz]
		},
		{
			companies: [companies.beteninternational],
			country: countries.france,
			contract: {
				start: '30.10.2020',
				end: 'безстрокова'
			},
			responsible: [units.pstu]
		},
		{
			companies: [companies.muroranitacjp],
			country: countries.japan,
			contract: {
				start: '01.11.2020',
				end: '01.11.2025'
			},
			responsible: [units.mf]
		},
		{
			companies: [companies.greenwichiic],
			country: countries.all,
			contract: {
				start: '01.01.2018',
				end: 'безстроковий'
			},
			responsible: [units.sgf]
		},
	];