-
	var units = {
		pstu: {
			name: {
				uk: 'ПДТУ',
				en: 'PSTU'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2019/06/ПГТУ-лого-150x150.png'
		},
		ekf: {
			name: {
				uk: 'Економічний факультет',
				en: 'Faculty of Econimics'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2017/05/EkF-150x150.png'
		},
		enf: {
			name: {
				uk: 'Енергетичний факультет',
				en: 'Faculty of Power Engineering'
			},
			logo: 'https://pstu.edu/wp-content/uploads/2017/05/EnF-150x150.png'
		},
		mf: {
			name: {
				uk: 'Металургійний факультет',
				en: ''
			},
			logo: 'https://pstu.edu/wp-content/uploads/2017/05/MF-150x150.png'
		},
		sgf: {
			name: {
				uk: 'Соціально-гуманітарний факультет',
				en: ''
			},
			logo: 'https://pstu.edu/wp-content/uploads/2017/05/SGF-150x150.png'
		},
		fit: {
			name: {
				uk: 'Факультет інформаційних технологій',
				en: ''
			},
			logo: 'https://pstu.edu/wp-content/uploads/2017/05/FIT-150x150.png'
		},
		fmz: {
			name: {
				uk: 'Факультет машинобудування та зварювання',
				en: ''
			},
			logo: 'https://pstu.edu/wp-content/uploads/2017/05/FMZ-150x150.png'
		},
		ftt: {
			name: {
				uk: 'Факультет транспортних технологій',
				en: ''
			},
			logo: 'https://pstu.edu/wp-content/uploads/2017/05/FTT-150x150.png'
		},
	};