-
  var blog = {
    network: 'Приазовский государственный технический университет',
    name: 'Абитуриент',
    description: 'We invite foreign citizens to study at the Pryazovskyi State Technical University',
  }
  var page = {
    title: blog.name,
    excerpt: blog.description,
    type: 'home',
  }
  var src = {
  	img: '../images/',
  	js: '../scripts/',
  	css: '../styles/',
    video: '../video/',
    fonts: '../fonts/',
  }



