include ../helpers/_variables
include ../helpers/_mixing
block variables
	- page.type = 'page';
doctype html
html( lang="ru" )
	include ../blocks/_head
	block head
	block body
		body( class=page.type, data-nav="inactive" )
			block wrapper
				include ../navs/_mobilenav
				.wrapper#wrapper
					header.wrapper__item.wrapper__item--header.header#header
						block header
							include ../blocks/_header
					main.wrapper__item.wrapper__item--main.main.lazy#main( data-src=src.img+'bg.svg' )
						block main
					footer.wrapper__item.wrapper__item--footer.footer#footer
						block footer
							include ../asides/_footer
							include ../blocks/_partners
							include ../blocks/_footer
					include ../blocks/_christmas
					block enqueue
						include ../blocks/_enqueue