












.widget {

	margin: .5em auto;

	&__title {
		margin-bottom: .5em;
		border-bottom: 2px solid $brand-success;
		& + p { margin-top: 0; }
		.icon { @extend %icon; margin-right: .2em; }
	}

	p {
		margin: 0 auto;
	}

}