//

<div class="gallery gallery--blocksit" data-block-element="a" style="height: 506px;">
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/03/Desert-1.jpg" style="width: 71.3333px; left: 0px; top: 5px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/03/Desert-1.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/03/Penguins.jpg" style="width: 71.3333px; left: 81.3333px; top: 5px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/03/Penguins.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/03/Jellyfish.jpg" style="width: 71.3333px; left: 162.667px; top: 5px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/03/Jellyfish.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/03/Lighthouse.jpg" style="width: 71.3333px; left: 0px; top: 73px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/03/Lighthouse.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/03/Koala.jpg" style="width: 71.3333px; left: 81.3333px; top: 73px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/03/Koala.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/03/Desert.jpg" style="width: 71.3333px; left: 162.667px; top: 73px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/03/Desert.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/03/Chrysanthemum.jpg" style="width: 71.3333px; left: 0px; top: 141px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/03/Chrysanthemum.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/02/cropped-foto1-1.jpg" style="width: 71.3333px; left: 81.3333px; top: 141px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/02/cropped-foto1-1.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/02/cropped-foto1.jpg" style="width: 71.3333px; left: 162.667px; top: 141px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/02/cropped-foto1.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/02/cropped-Hydrangeas.jpg" style="width: 71.3333px; left: 0px; top: 209px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/02/cropped-Hydrangeas.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="Структура сайтов подразделений" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/02/Структура-сайтов-подразделений.odt" style="width: 71.3333px; left: 81.3333px; top: 227px; position: absolute;"><i class="icon icon-odt"></i> 
  <img class="lazy" src="#" alt="Структура сайтов подразделений" data-src="http://events.edu/wp-content/uploads/2018/02/Структура-сайтов-подразделений.odt" width="100%">
</a>
<a class="gallery__item item" title="Требования к подаче материалов на сайт" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/02/Требования-к-подаче-материалов-на-сайт.odt" style="width: 71.3333px; left: 162.667px; top: 227px; position: absolute;"><i class="icon icon-odt"></i> 
  <img class="lazy" src="#" alt="Требования к подаче материалов на сайт" data-src="http://events.edu/wp-content/uploads/2018/02/Требования-к-подаче-материалов-на-сайт.odt" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/02/a25ac93206a9.jpg" style="width: 71.3333px; left: 0px; top: 295px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/02/a25ac93206a9.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/02/foto1.jpg" style="width: 71.3333px; left: 81.3333px; top: 317px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/02/foto1.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/02/4.jpg" style="width: 71.3333px; left: 162.667px; top: 335px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/02/4.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/01/a25ac93206a9.jpg" style="width: 71.3333px; left: 0px; top: 381px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/01/a25ac93206a9.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/01/26755504_1648262825212562_165195190_n.jpg" style="width: 71.3333px; left: 162.667px; top: 391px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/01/26755504_1648262825212562_165195190_n.jpg" alt="" style="display: inline-block;" width="100%">
</a>
<a class="gallery__item item" title="" data-fancybox="gallery-" href="http://events.edu/wp-content/uploads/2018/01/Tulips.jpg" style="width: 71.3333px; left: 81.3333px; top: 404px; position: absolute;">
  <img class="lazy" src="http://events.edu/wp-content/uploads/2018/01/Tulips.jpg" alt="" style="display: inline-block;" width="100%">
</a>
</div>