//-
	Виджет меню


div.menu-qwer-container: ul#menu-qwer.menu
	li.menu-item.menu-item-type-taxonomy.menu-item-object-category: a( href="#" ) Сотруднику
	li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-sub-menu
		a( href="#" ) Профбюро факультетов
		ul.sub-menu
			li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) МФ
			li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) СГФ
			li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) ФИЯП
			li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) ФИТ
			li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) ФМС
	li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-sub-menu
		a( href="#" ) Комиссии профкома
		//- ul.sub-menu
		//- 	li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) Женсовет
		//- 	li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) Комиссия социальной защиты
		//- 	li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) Культурно-массовая работа
		//- 	li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) Организационно-массовая комиссия
		//- 	li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) Охрана труда
		//- 	li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) Спортивно-массовая работа
	li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has-sub-menu
		a( href="#" ) Профбюро отделов
		//- ul.sub-menu
		//- 	li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) Профбюро административно-управленческого
		//- 	li.menu-item.menu-item-type-post_type.menu-item-object-page: a( href="#" ) Профбюро административно-хозяйственного