//
//	WP
//	Странциа Архива
//




.archive {



	.entry {
		margin: 2em 0;
	}



	&__entry {
		.title {
			margin: 0;
		}
		.excerpt {
			margin: 0;
		}
		.thumbnail {
			display: block;
		}
	}


	
}