.vstup {

	&-field {
		display: block;
		margin-top: .5em;
		margin-bottom: .5em;
	}

	&-label {
		display: block;
	}

	&-control {
		width: 100%;
		box-sizing: border-box;
	}

}


.custom-aside-table {

	width: 100%;
	border-spacing: 0;
	margin-top: 2em;
	margin-bottom: 2em;

	th {
		padding: .5em;
	}

	td {
		margin: 0;
		border-top: 1px solid #aaa;
		border-left: none;
		border-right: none;
		padding-top: .5em;
		padding-bottom: .5em;
		transition: .2s background-color;
	}

	tr:hover td {
		background-color: rgba( 255, 255, 255, .5 );
	}

	.count {
		text-align: center;
	}

	.name {
		text-align: left;
		width: 20%;
	}

	.description {
		text-align: left;
		width: 30%;
	}

	.class {
		text-align: center;
		width: 10%;
	}

	.posts {
		width: 10%;
		text-align: center;
	}

	.widgets {
		width: 10%;
		text-align: center;
	}

	.delete-button {
		color: #f00;
	}

	.action-button {
		display: inline-block;
		margin-left: .25em;
		margin-right: .25em;
	}

}


.list-disc {
	list-style-type: disc;
	list-style-position: inside;
}