.customize-control-list .list {
	margin: .5rem 0;
}

.customize-control-list li.item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	cursor: move;
	flex-wrap: wrap;
	padding: .25rem;
	border: .1rem solid #d2d2d2;
	background-color: #eee;
	border-radius: .15rem;
}

.customize-control-list li.item .title {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1rem;
	max-width: 75%;
	line-height: 1rem;
	font-size: 1rem;
}

.customize-control-list li.item::before {
	content: '';
	width: 1rem;
	height: 1rem;
	background-color: #d2d2d2;
	margin: 0 .25rem;
	border-radius: .25rem;
}

.customize-control-list li.item.on::before {
	background-color: #0071a1;
}

.customize-control-list .sr-only {
	visibility: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
}


.customize-control-list .dashicons-before::before {
	vertical-align: middle;
}

.customize-control-list button.toggle {
	background-color: transparent;
	border: none;
	display: block;
	border-radius: .25rem;
	transition: background-color .2s;
	width: 100%;
	text-align: left;
	width: 1.5rem;
	height: 1.5rem;
	padding: .25rem;
	margin: 0 .25rem 0 auto;
	cursor: pointer;
	color: #d2d2d2;
}

.customize-control-list button.toggle::before {
	content: '\f327';
}

.customize-control-list button.toggle:hover {
	color: #007cba;
}

/**
 Стили модального окна
*/
.customize-control-list-modal {
	z-index: 999999;
}

.customize-control-list-modal.hide {
	display: none;
}

.customize-control-list-modal .form button.save {
	background: #007cba;
	border-color: #007cba;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	border-radius: .15rem;
}

.customize-control-list-modal .form button.save:disabled {
	background: #acacac;
	border-color: #b3b3b3;
}

.customize-control-list-modal .form button.save:not( :disabled ):hover {
	background: #0071a1;
	border-color: #0071a1;
}

.customize-control-list-modal .form button.remove {
	color: #a00;
	border: none;
	background-color: transparent;
	margin: 1rem 0 0 0;
	cursor: pointer;
}

.customize-control-list-modal .form button.remove:hover {
	color: #dc3232;
}

.customize-control-list-modal .form button.close {
	background: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	padding: .5rem;
	margin: 0;
	font-size: 125%;
}

.customize-control-list-modal .form button.close::before {
	vertical-align: middle;
}

.customize-control-list-modal .form button.close:hover::before {
	color: #f00;
}

.customize-control-list-modal .form  {
	background-color: #fff;
	padding: 2.5rem 1rem;
	z-index: 1;
	position: relative;
}

.customize-control-list-modal .form .inner  {
	min-width: 320px;
	max-height: 75vh;
	overflow-x: hidden;
	overflow-y: auto;
	padding: .5rem;
}

@media screen and ( min-width: 768px ) {
	.customize-control-list-modal .form {
		width: 720px;
		padding: 2.5rem 2rem;
	}
}

.customize-control-list-modal .form .image,
.customize-control-list-modal .form .label,
.customize-control-list-modal .form label {
	display: block;
	position: relative;
	margin: 1rem 0;
}

.customize-control-list-modal .form select,
.customize-control-list-modal .form textarea,
.customize-control-list-modal .form input[ type="text" ],
.customize-control-list-modal .form input[ type="url" ],
.customize-control-list-modal .form input[ type="password" ],
.customize-control-list-modal .form input[ type="tel" ],
.customize-control-list-modal .form input[ type="email" ],
.customize-control-list-modal .form input[ type="password" ] {
	width: 100%;
	display: block;
	max-width: inherit;
}

.customize-control-list-modal .form input.datepicker[ type="text" ] {
	width: auto;
}

.customize-control-list-modal .form textarea {
	padding-top: .5rem;
	padding-bottom: .5rem;
	box-sizing: border-box;
}

.customize-control-list-modal .form .image img {
	display: block;
	width: auto;
	height: auto;
	cursor: pointer;
	opacity: 1;
	max-width: 100%;
	max-height: 10rem;
}

.customize-control-list-modal .form .image img[ src="" ] {
	display: none;
	opacity: 0;
}

.customize-control-list-modal .form .image button.choice {
	display: none;
}

.customize-control-list-modal .form .image img[ src="" ] ~ button.choice {
	display: block;
}

.customize-control-list-modal .form button.choice {
	display: block;
	border: .1rem solid #d2d2d2;
	padding: .5rem;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.customize-control-list-modal .form button.clear {
	background-color: transparent;
	border: none;
	color: #f00;
	cursor: pointer;
}

.customize-control-list-modal .form button.clear:hover {
	color: #ff4343;
}

.customize-control-list-modal .form .image img[ src="" ] ~ button.clear {
	display: none;
}

.customize-control-list-modal .form .gallery button.choice {
	display: block;
	margin-bottom: .5rem;
}

.customize-control-list-modal .form .gallery .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.customize-control-list-modal .form .gallery img {
	width: 6rem;
	height: 6rem;
	margin: .5rem;
	transition: transform .2s;
	transform-origin: center center;
	cursor: move;
	flex-shrink: 0;
}

.customize-control-list-modal .form .gallery img:hover {
	transform: scale( 1.05 );
}

.customize-control-list-modal .form .wp-picker-container {
	display: block;
}

.customize-control-list-modal .form .checkbox input {
	display: block;
	width: 1px;
	height: 1px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.customize-control-list-modal .form .checkbox label {
	display: inline-block;
	position: relative;
	padding: .25rem 0 .25rem 3rem;
}

.customize-control-list-modal .form .checkbox label::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5rem;
	height: 1.5rem;
	background-color: #d2d2d2;
	border-radius: 1rem;
	transition: background-color .2s;
}

.customize-control-list-modal .form .checkbox label::after {
	content: '';
	display: block;
	position: absolute;
	top: .2rem;
	left: .2rem;
	margin-right: 1rem;
	width: 1rem;
	height: 1rem;
	border: .1rem solid #d2d2d2;
	border-radius: 50%;
	vertical-align: middle;
	background-color: #fff;
	transition: left .2s, background-color .2s, box-shadow .2s;
}

.customize-control-list-modal .form .checkbox input:checked + label::before {
	background-color: #9bb9c8;
	box-shadow: 0 0 .5rem rgba( 0, 0, 0, .2 ) inset;
}

.customize-control-list-modal .form .checkbox input:checked + label::after {
	background: #007cba;
	left: 1.2rem;
}

.customize-control-list-modal .form .chosen-container {
	display: block;
}

.customize-control-list-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.customize-control-list-modal .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba( 0, 0, 0, .5 );
	z-index: 0;
}

.ui-datepicker {
	z-index: 500001 !important;
}