ul.nav__list.list#nav-list
	li: a( href="#" ) Новости
	li: a( href="#" ) Студенту
	li: a( href="#" ) Абитуриенту
	li: a( href="#" ) Университет
	li: a( href="#" ) Наука
	li: a( href="#" ) Образование
	li: a( href="#" ) Контакты
button.nav__burger.burger.navtoggle#burger
	span.sr-only Меню
	svg.icon( enable-background="new 0 0 451.111 451.111", viewBox="0 0 451.111 451.111" ).
		<path d="m0 0h451.111v64.444h-451.111z" transform="translate(1 1)"/>
		<path d="m0 193.333h451.111v64.444h-451.111z" transform="translate(1 7)"/>
		<path d="m0 386.667h451.111v64.444h-451.111z" transform="translate(1 13)"/>s