ul.nav__list.list
	li.has-sub-menu
		a( href="#" ) Пресс-центр
		ul.sub-menu
			li: a( href="#" ) Новости
			li: a( href="#" ) Анонсы
	li.has-sub-menu
		a( href="#" ) Университет
		ul.sub-menu
			li.has-sub-menu
				a( href="#" ) История
				ul.sub-menu
					li: a( href="#" ) Музей
					li: a( href="#" ) Летопись
			li: a( href="#" ) Ректорат
			li: a( href="#" ) Ученый совет
			li: a( href="#" ) Институты, факультеты, кафедры,
			li: a( href="#" ) Подразделения, коледжи
			li.has-sub-menu
				a( href="#" ) Официальная информация
				ul.sub-menu
					li: a( href="#" ) Информация, подлежащая публикации в соответствии с действующим законодательством
					li: a( href="#" ) Лицензирование и аккредитация
					li: a( href="#" ) Противодействие коррупции
					li: a( href="#" ) Публичные закупки
					li: a( href="#" ) Действующие стандарты и положения
					li: a( href="#" ) Основные документы
			li.has-sub-menu
				a( href="#" ) Услуги
				ul.sub-menu
					li: a( href="#" ) Подготовка и сертификация знаний иностранных языков
					li: a( href="#" ) Подготовка школьников к ЗНО
					li: a( href="#" ) Спортивные секции
					li: a( href="#" ) Отдых и культурные мероприятия
					li: a( href="#" ) Образовательные услуги
					li: a( href="#" ) Научные исследования
			li.has-sub-menu
				a( href="#" ) Галерея
				ul.sub-menu
					li: a( href="#" ) Видео материалы
					li: a( href="#" ) 3d панорамы
	li.has-sub-menu
		a( href="#" ) Абитуриенту
		ul.sub-menu
			li: a( href="#" ) Список специальностей
			li.has-sub-menu
				a( href="#" ) Подбор специальности
				ul.sub-menu
					li: a( href="#" ) По предметам
					li: a( href="#" ) Для выпускников школ
					li: a( href="#" ) Для выпускников колледжей (2 высшее)
					li: a( href="#" ) Параллельное обучение
					li: a( href="#" ) Для будущих магистров
					li: a( href="#" ) Военные специальности
			li: a( href="#" ) Приемная комиссия
			li.has-sub-menu
				a( href="#" ) Поступление (Бакалаврат и магистратура) 2020
				ul.sub-menu
					li: a( href="#" ) Правила приема
					li: a( href="#" ) Алгоритм поступления
					li: a( href="#" ) Расписание экзаменов
					li: a( href="#" ) Программы вступительных экзаменов
					li: a( href="#" ) Стоимость обучения
					li: a( href="#" ) Списки зачисленных
			li.has-sub-menu
				a( href="#" ) Для абитуриентов из Донбасса
				ul.sub-menu
					li: a( href="#" ) Центр Донбасс-Украина
					li: a( href="#" ) Алгоритм поступления
					li: a( href="#" ) Программы подготовки для тестирования
			li: a( href="#" ) Поступление иностранных студентов
			li.has-sub-menu
				a( href="#" ) Поступление на военные специальности
				ul.sub-menu
					li: a( href="#" ) Правила приема
					li: a( href="#" ) Стоимость обучения
			li: a( href="#" ) Подготовительное отделение для школьников
			li: a( href="#" ) Профориентационная практика школьников
	li.has-sub-menu
		a( href="#" ) Студенту
		ul.sub-menu
			li: a( href="#" ) Расписание занятий
			li.has-sub-menu
				a( href="#" ) Образовательные ресурсы
				ul.sub-menu
					li: a( href="#" ) Методические материалы
					li: a( href="#" ) Платформа для тестирования 
					li: a( href="#" ) Электронный каталог НТБ
			li: a( href="#" ) Рейтинг
			li: a( href="#" ) Стоимость обучения
			li: a( href="#" ) Студенческий сенат
			li: a( href="#" ) Профсоюзный комитет
			li.has-sub-menu
				a( href="#" ) Здоровье, спорт, культура и досуг
				ul.sub-menu
					li: a( href="#" ) Спортивные секции
					li: a( href="#" ) Культурно-просветительский центр
					li: a( href="#" ) База отдыха “Олимп”
	li.has-sub-menu
		a( href="#" ) Образование
		ul.sub-menu
			li: a( href="#" ) Образовательные программы
			li: a( href="#" ) Обеспечение качества обучения
			li: a( href="#" ) Методический совет
			li: a( href="#" ) Дистанционное образование
			li: a( href="#" ) Дуальное образование
			li.has-sub-menu
				a( href="#" ) Интернационализация
				ul.sub-menu
					li: a( href="#" ) Стратегия интернационализации
					li: a( href="#" ) Университеты – партнеры
					li: a( href="#" ) Международные проекты
					li: a( href="#" ) Сотрудничество с организациями и предприятиями за рубежем
	li.has-sub-menu
		a( href="#" ) Наука
		ul.sub-menu
			li.has-sub-menu
				a( href="#" ) Аспірантура, докторантура
				ul.sub-menu
					li: a( href="#" ) Правила приема
					li: a( href="#" ) Специальности
					li: a( href="#" ) График вступительной компании
					li: a( href="#" ) Программы вступительных экзаменов
					li: a( href="#" ) Списки зачисленных
			li: a( href="#" ) Научно-технические мероприятия
			li: a( href="#" ) Иновации
			li: a( href="#" ) Перечень научных изданий
			li: a( href="#" ) Электронный институциональный репозиторий
			li: a( href="#" ) Научно-технический совет
			li: a( href="#" ) Совет молодых ученых
			li.has-sub-menu
				a( href="#" ) Специализированные ученые советы
				ul.sub-menu
					li: a( href="#" ) Технический ученый совет
					li: a( href="#" ) Экономический ученый совет
			li: a( href="#" ) Студенческая наука
			li.has-sub-menu
				a( href="#" ) Спеціалізовані вчені ради
				ul.sub-menu
					li: a( href="#" ) Економічна вчена рада
					li: a( href="#" ) Технічна вчена рада
			li.has-sub-menu
				a( href="#" ) Студентська наука
				ul.sub-menu
					li: a( href="#" ) Науково-дослідна робота студентів
					li: a( href="#" ) Олімпіади конкурси та конференції студентів
					li: a( href="#" ) Наука – перші кроки
					li: a( href="#" ) Студентське наукове товариство
			li: a( href="https://pstu.edu/uk/nauka-2-3/universytetska-nauka-u-dzerkali-2017-ro/" ) Сучасна університетська наука
	li.has-sub-menu
		a( href="#" ) Контакты
		ul.sub-menu
			li: a( href="#" ) Реквизиты
			li: a( href="#" ) Вопросы-ответы
			li: a( href="#" ) Сотрудники
			li: a( href="#" ) Телефонный справочник
			li: a( href="#" ) Администрация сайта
button.nav__burger.burger.navtoggle
	span.sr-only Меню
	svg.icon( enable-background="new 0 0 451.111 451.111", viewBox="0 0 451.111 451.111" ).
		<path d="m0 0h451.111v64.444h-451.111z" transform="translate(1 1)"/>
		<path d="m0 193.333h451.111v64.444h-451.111z" transform="translate(1 7)"/>
		<path d="m0 386.667h451.111v64.444h-451.111z" transform="translate(1 13)"/>