ul.nav__list.list.text-center

	li.has-sub-menu
		a( href="#" ) Пресс-центр
		ul.sub-menu
			li: a( href="#" ) Приймальна комісія
			li: a( href="#" ) Анонси подій

	li.has-sub-menu
		a( href="#" ) Університет
		ul.sub-menu
			li.has-sub-menu
				a( href="#" ) Історія
				ul.sub-menu
					li: a( href="#" ) Музей
					li: a( href="#" ) Літопис
			li.has-sub-menu
				a( href="#" ) Освіта
				ul.sub-menu
					li: a( href="#" ) Дотримання якості освіти
					li: a( href="#" ) Дистанційне навчання
					li: a( href="#" ) Дуальна освіта
					li: a( href="#" ) Освітні програми
			li: a( href="#" ) Ректорат
			li: a( href="#" ) Вчена рада
			li: a( href="#" ) Методична рада
			li: a( href="#" ) Інститути, факультети, кафедри
			li: a( href="#" ) Підрозділи, коледжі
			li.has-sub-menu
				a( href="#" ) Офіційна інформація
				ul.sub-menu
					li: a( href="#" ) Ліцензування та акредитація
					li: a( href="#" ) Базові документи
					li: a( href="#" ) Протидія корупції
					li: a( href="#" ) Стандарти та положення
					li: a( href="#" ) Публічні закупівлі
					li: a( href="#" ) Інформація, яка підлягає оприлюдненню згідно з законодавством
			li.has-sub-menu
				a( href="#" ) Мультимедіа галерія
				ul.sub-menu
					li: a( href="#" ) 3d – фотопрогулянка
					li: a( href="#" ) Відеотека
					li: a( href="#" ) Символіка
			li: a( href="#" ) Послуги

	li.has-sub-menu
		a( href="#" ) Абитуриенту
		ul.sub-menu
			li.has-sub-menu
				a( href="#" ) Перелік спеціальностей
				ul.sub-menu
					li: a( href="#" ) Для випускників шкіл (пошук за іспитами)
					li: a( href="#" ) Для випускників коледжів
					li: a( href="#" ) Для майбутніх магістрів
			li: a( href="#" ) Друга вища освіта
			li: a( href="#" ) Паралельне навчання
			li.has-sub-menu
				a( href="#" ) Абітурієнтам з Донбасу та Криму
				ul.sub-menu
					li: a( href="#" ) Алгоритм вступу
					li: a( href="#" ) Освітній центр Донбас-Україна та Крим-Україна
			li.has-sub-menu
				a( href="#" ) Вступ на військові спеціальності
				ul.sub-menu
					li: a( href="#" ) Перелік спеціальностей
					li: a( href="#" ) Вартість навчання
					li: a( href="#" ) Військова кафедра
					li: a( href="#" ) Правила прийому, порядок вступу
			li.has-sub-menu
				a( href="#" ) Поточна вступна кампанія
				ul.sub-menu
					li: a( href="#" ) Вартість навчання
					li: a( href="#" ) Обсяг державного замовлення
					li: a( href="#" ) Перелік рекомендованих та зарахованих
					li: a( href="#" ) Правила прийому, порядок вступу та строки
					li: a( href="#" ) Програми вступних іспитів
					li: a( href="#" ) Прохідний бал
			li: a( href="#" ) Приймальна комісія
			li.has-sub-menu
				a( href="#" ) Вступ до аспірантури докторантури
				ul.sub-menu
					li: a( href="#" ) Правила прийому, спеціальності
					li: a( href="#" ) Програми вступних іспитів
					li: a( href="#" ) Прийом іноземних громадян
			li.has-sub-menu
				a( href="#" ) Для школярів
				ul.sub-menu
					li: a( href="#" ) Підготовче відділення
					li: a( href="#" ) Профорієнтаційна практика

	li.has-sub-menu
		a( href="#" ) Студенту
		ul.sub-menu
			li: a( href="#" ) Розклад занять
			li.has-sub-menu
				a( href="#" ) Вибіркові дисципліни
				ul.sub-menu
					li: a( href="#" ) Для бакалаврів
					li: a( href="#" ) Для магістрів
			li: a( href="#" ) Вартість навчання
			li: a( href="#" ) Студентські стипендії
			li: a( href="#" ) Рейтинг студентів-бюджетників
			li: a( href="#" ) Студентський сенат
			li: a( href="#" ) Відділ з організації виховної та соціально-гуманітарної роботи
			li.has-sub-menu
				a( href="#" ) Здоров’я, спорт, культура та дозвілля
				ul.sub-menu
					li: a( href="#" ) База відпочинку “Олімп”
					li: a( href="#" ) Культурно-просвітницький центр
					li: a( href="#" ) Спортивні секції
			li: a( href="#" ) Працевлаштування

	li.has-sub-menu
		a( href="#" ) Освіта
		ul.sub-menu
			li: a( href="#" ) Образовательные программы
			li: a( href="#" ) Обеспечение качества обучения
			li: a( href="#" ) Методический совет
			li: a( href="#" ) Дистанционное образование
			li: a( href="#" ) Дуальное образование
			li.has-sub-menu
				a( href="#" ) Интернационализация
				ul.sub-menu
					li: a( href="#" ) Стратегия интернационализации
					li: a( href="#" ) Университеты – партнеры
					li: a( href="#" ) Международные проекты
					li: a( href="#" ) Сотрудничество с организациями и предприятиями за рубежем

	li.has-sub-menu
		a( href="https://pstu.edu/uk/nauka-2-3/" ) Наука
		ul.sub-menu
			li: a( href="#" ) Наукові видання
			li: a( href="#" ) Наукові заходи
			li: a( href="#" ) Науково-технічна рада
			li: a( href="#" ) Рада молодих вчених
			li.has-sub-menu
				a( href="#" ) Спеціалізовані вчені ради
				ul.sub-menu
					li: a( href="#" ) Економічна вчена рада
					li: a( href="#" ) Технічна вчена рада
			li: a( href="#" ) Інноваційні пропозиції для впровадження
			li.has-sub-menu
				a( href="#" ) Студентська наука
				ul.sub-menu
					li: a( href="#" ) Науково-дослідна робота студентів
					li: a( href="#" ) Олімпіади конкурси та конференції студентів
					li: a( href="#" ) Студентське наукове товариство
			li: a( href="#" ) Наука-перші кроки (для школярів)

	li.has-sub-menu
		a( href="#" ) Міжнародна робота
		ul.sub-menu
			li: a( href="#" ) Стратегія інтернаціоналізації
			li: a( href="#" ) Міжнародні проекти
			li: a( href="#" ) Співробітництво з організаціями i підприємствами за кордоном
			li: a( href="#" ) Університети-партнери
			li: a( href="#" ) корисні посилання

	li.has-sub-menu
		a( href="#" ) Контакты
		ul.sub-menu
			li: a( href="#" ) Реквізити університету
			li: a( href="#" ) Адміністрація сайту
			li: a( href="#" ) Телефонний довідник підрозділів
			li: a( href="#" ) Контакти співробітників
			li.has-sub-menu
				a( href="#" ) Питання-відповіді
				ul.sub-menu
					li: a( href="#" ) Вступна кампанія

button.nav__burger.burger.navtoggle.hide
	span.sr-only Меню
	svg.icon( enable-background="new 0 0 451.111 451.111", viewBox="0 0 451.111 451.111" ).
		<path d="m0 0h451.111v64.444h-451.111z" transform="translate(1 1)"/>
		<path d="m0 193.333h451.111v64.444h-451.111z" transform="translate(1 7)"/>
		<path d="m0 386.667h451.111v64.444h-451.111z" transform="translate(1 13)"/>