.mobilenav#mobilenav
	.bg.navtoggle
	.overlay
		//- button.close.navtoggle #[span.sr-only Закрыть меню]
		//- ul.languages.list-inline.list-unstyled.small
		//- 	li.font-bold RU
		//- 	li: a( href="#" ) UK
		//- 	li: a( href="#" ) EN
		h2 Меню
		#mobilenav-list
		include ../navs/_warning
		h3 Поделиться
		include ../blocks/_share