extend layout/_index


block variables
	- page.type = 'archive blocg';
	- page.title = 'Шаблон категории, блога, архива';



mixin archive_entry( args )
	.archive__entry.entry: .row
		.col-xs-12.col-sm-3
			a.thumbnail( href="#" )
				img.wp-post-thumbnail.lazy( src="#", data-src=args.thumbnail, alt=args.title )
				.datetime
		.col-xs-12.col-sm-9
			h3.title #{args.title}
			p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veritatis recusandae molestiae, ipsam eligendi reiciendis ab incidunt quam non reprehenderit illum possimus, error laborum ullam, magni, magnam optio. Tenetur, deleniti.
			.row.middle-xs
				.col-xs-6: .small 20.01.2020
				.col-xs-6.text-right: a.btn.btn-success( href="#" ) Подробней


block main
	.container: .row.stratch-xs
		.col-xs-12.col-md-8
			include ./blocks/_pageheader
			.content: include ./blocks/_content
			+archive_entry( { thumbnail: src.img+'thumbnail.png', title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit' } )
			+archive_entry( { thumbnail: src.img+'thumbnail.png', title: 'Repellendus nisi, quia qui amet sed cumque perferendis sint alias sunt esse' } )
			+archive_entry( { thumbnail: src.img+'thumbnail.png', title: 'Explicabo iusto odio, cum, eveniet, animi qui voluptates at ipsa minima laudantium eos cumque corporis, vero' } )
			include blocks/_pagination
		.col-xs-12.col-md-4: include asides/_column