extend layout/_index


block variables
	- page.type = 'archive';
	- page.title = 'Область знаний';



block main
	include blocks/_pageheader
	.container
		h2 141 Електроенергетика, електротехніка та електромеханіка
		.row.stretch-xs
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/ukraine.jpg', title: 'Електроенергетика, електротехніка та електромеханіка (Бакалавр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/studyinukraine.jpg', title: 'Електромеханічні системи автоматизації та електропривод (Магістр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/oops.jpg', title: 'Електротехнічні системи електроспоживання (Магістр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/career.jpg', title: 'Інформаційні системи та технології (Магістр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/cources.jpg', title: 'Системи управління виробництвом і розподілом електроенергії (Магістр)' } )
		h2 144 Теплоенергетика
		.row.stretch-xs
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/ukraine.jpg', title: 'Теплоенергетика (Бакалавр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/studyinukraine.jpg', title: 'Енергетичний менеджмент (Магістр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/oops.jpg', title: 'Теплоенергетика (Магістр)' } )
		include blocks/_pager