extend layout/_index


block variables
	- page.type = 'archive';
	- page.title = 'Блог';



mixin archive_entry( args )
	.archive__entry.entry: .row.center-xs
		.col-xs-6.col-sm-4.col-md-4.col-lg-4: a.entry__thumbnail.thumbnail( href="#" ): img.lazy.wp-post-thumbnail( src="#", data-src=args.thumbnail )
		.col-xs-12.col-sm-8.col-md-8.col-lg-8
			h3.entry__title.title #{args.title}
			.entry__excerpt.excerpt: p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			p.text-right: a.entry__permalink.permalink( href="#" ) Подробней



block main
	.container: .row
		.col-xs-12.col-sm-12.col-md-8.col-lg-8
			h1 #{page.title}
			include blocks/_breadcrumbs
			+archive_entry( { thumbnail: src.img+'thumbnail.png', title: 'Заголовок поста 1' } )
			+archive_entry( { thumbnail: src.img+'thumbnail.png', title: 'Заголовок поста 2' } )
			+archive_entry( { thumbnail: src.img+'thumbnail.png', title: 'Заголовок поста 3' } )
			+archive_entry( { thumbnail: src.img+'thumbnail.png', title: 'Заголовок поста 4' } )
			+archive_entry( { thumbnail: src.img+'thumbnail.png', title: 'Заголовок поста 5' } )
			include blocks/_pagination
		.col-xs-12.col-sm-12.col-md-4.col-lg-4
			include asides/_column