extend layout/_index


block variables
	- page.type = 'archive';
	- page.title = 'Образовательные программы';


mixin specislty_item( args )
	.col-xs-12.col-sm-6
		+heading( { thumbnail: args.thumbnail, title: args.title } )
		ul.small.list-unsltyled.list-inline
			li Код: #{args.code}
			li Сектор: #{args.sector}
		block


block main
	include blocks/_pageheader
	include forms/_filter
	.container: .row
		+specislty_item( { thumbnail: src.img+'sectors/01.png', code: '01', title: 'Середня освіта. Математика', sector: 'Освіта / Педагогіка' } )
			ul
				li Математика (Бакалавр)
		+specislty_item( { thumbnail: src.img+'sectors/01.png', code: '01', title: 'Професійна освіта', sector: 'Освіта / Педагогіка' } )
			ul
				li Професійна освіта (Будівництво) (Бакалавр)
				li Професійна освіта (Будівництво) (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/03.png', code: '03', title: 'Філологія. Слов’янські мови та літератури (переклад включно), перша - російська', sector: 'Гуманітарні науки' } )
			ul
				li Філологія (переклад з російської, польської мов на українську) (Бакалавр)
				li Переклад (російська та польська мови) (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/03.png', code: '03', title: 'Філологія. Германські мови та літератури (переклад включно), перша - англійська', sector: 'Гуманітарні науки' } )
			ul
				li Англійська та німецька мови (переклад включно) (Бакалавр)
				li Переклад (англійська та німецька мови) (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/05.png', code: '05', title: 'Економіка', sector: 'Соціальні та поведінкові науки' } )
			ul
				li Економіка підприємства (Бакалавр)
				li Економіка довкілля і природних ресурсів (Магістр)
				li Економіка підприємства (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/07.png', code: '07', title: 'Облік і оподаткування', sector: 'Управління та адміністрування' } ): ul
			li Державний аудит (Бакалавр)
			li Облік і аудит (Бакалавр)
			li Облік і аудит (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/07.png', code: '07', title: 'Фінанси, банківська справа та страхування', sector: 'Управління та адміністрування' } )
			ul
				li Фінанси і кредит (Бакалавр)
				li Фінанси і кредит (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/07.png', code: '07', title: 'Менеджмент', sector: 'Управління та адміністрування' } )
			ul
				li Бізнес-адміністрування (Бакалавр)
				li Менеджмент (Бакалавр)
				li Менеджмент транспорту та логістики (Бакалавр)
				li Бізнес-адміністрування (Магістр)
				li Логістичний менеджмент (Магістр)
				li Менеджмент організацій і адміністрування (Магістр)
				li Управління проектами (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/07.png', code: '07', title: 'Маркетинг', sector: 'Управління та адміністрування' } )
			ul
				li Маркетинг (Бакалавр)
				li Маркетинг (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/07.png', code: '07', title: 'Підприємництво, торгівля та біржова діяльність', sector: 'Управління та адміністрування' } )
			ul
				li Підприємництво, торгівля та біржова діяльність (Бакалавр)
				li Інтелектуальна власність (Магістр)
				li Якість, стандартизація та сертифікація (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/11.png', code: '11', title: 'Прикладна математика', sector: 'Математика та статистика' } )
			ul
				li Комп’ютерне моделювання (Бакалавр)
				li Комп’ютерне моделювання (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/12.png', code: '12', title: 'Комп’ютерні науки', sector: 'Інформаційні технології' } )
			ul
				li Інформатика (Бакалавр)
				li Комп’ютерні науки (Бакалавр)
				li Інформатика (Магістр)
				li Інформаційні системи та технології (Магістр)
				li Консолідована інформація (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/13.png', code: '13', title: 'Прикладна механіка', sector: 'Механічна інженерія' } )
			ul
				li Зварювання (Бакалавр)
				li Прикладна механіка (Бакалавр)
				li Інженерна механіка (Бакалавр)
				li Відновлення та підвищення зносостійкості деталей і конструкцій (Магістр)
				li Обробка металів за спецтехнологіями (Магістр)
				li Технології машинобудування (Магістр)
				li Технології та устаткування зварювання (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/13.png', code: '13', title: 'Матеріалознавство', sector: 'Механічна інженерія' } )
			ul
				li Матеріалознавство (Бакалавр)
				li Матеріалознавство (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/13.png', code: '13', title: 'Галузеве машинобудування', sector: 'Механічна інженерія' } )
			ul
				li Галузеве машинобудування (Бакалавр)
				li Металорізальні верстати та системи (Бакалавр)
				li Металургійне обладнання (Бакалавр)
				li Інструментальне виробництво (Магістр)
				li Металорізальні верстати та системи (Магістр)
				li Металургійне обладнання (Магістр)
				li Підйомно-транспортні, дорожні, будівельні, меліоративні машини і обладнання (Магістр)
				li Нанотехнології в машинобудуванні (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/13.png', code: '13', title: 'Металургія', sector: 'Механічна інженерія' } )
			ul
				li Металургія (Бакалавр)
				li Металургія чорних металів (Магістр)
				li Обробка металів тиском (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/14.png', code: '14', title: 'Електроенергетика, електротехніка та електромеханіка', sector: 'Електрична інженерія' } )
			ul
				li Електроенергетика, електротехніка та електромеханіка (Бакалавр)
				li Електромеханічні системи автоматизації та електропривод (Магістр)
				li Електротехнічні системи електроспоживання (Магістр)
				li Системи управління виробництвом і розподілом електроенергії (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/14.png', code: '14', title: 'Теплоенергетика', sector: 'Електрична інженерія' } )
			ul
				li Теплоенергетика (Бакалавр)
				li Енергетичний менеджмент (Магістр)
				li Теплоенергетика (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/15.png', code: '15', title: 'Автоматизація та комп’ютерно - інтегровані технології', sector: 'Автоматизація та приладобудування' } )
			ul
				li Автоматизація та комп’ютерно-інтегровані технології (Бакалавр)
				li Автоматизоване управління технологічними процесами (Магістр)
				li Комп'ютерно-інтегровані технологічні процеси і виробництва (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/16.png', code: '16', title: 'Біомедична інженерія', sector: 'Хімічна та біоінженерія' } )
			ul
				li Біомедична інженерія (Бакалавр) 
		+specislty_item( { thumbnail: src.img+'sectors/18.png', code: '18', title: 'Технології захисту навколишнього середовища', sector: 'Виробництво та технології' } )
			ul
				li Технології захисту навколишнього середовища (Бакалавр) 
		+specislty_item( { thumbnail: src.img+'sectors/19.png', code: '19', title: 'Архітектура та містобудування', sector: 'Архітектура та будівництво' } )
			ul
				li Архітектура будівель і споруд (Бакалавр) 
		+specislty_item( { thumbnail: src.img+'sectors/19.png', code: '19', title: 'Будівництво та цивільна інженерія', sector: 'Архітектура та будівництво' } )
			ul
				li Будівництво (Бакалавр)
				li Промислове і цивільне будівництво (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/23.png', code: '23', title: 'Соціальна робота', sector: 'Соціальна робота' } )
			ul
				li Соціальна робота (Бакалавр)
				li Соціальна робота (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/24.png', code: '24', title: 'Туризм', sector: 'Сфера обслуговування' } )
			ul
				li Туризм (Бакалавр) 
		+specislty_item( { thumbnail: src.img+'sectors/27.png', code: '27', title: 'Транспортні технології. На залізничному транспорті', sector: 'Транспорт' } )
			ul
				li Логістика транспортних систем (Бакалавр) на базі вищої освіти
				li Транспортні технології на залізничному транспорті (Бакалавр)
				li Організація перевезень і управління на промисловому транспорті (Бакалавр) на базі вищої освіти
				li Організація перевезень і управління на промисловому транспорті (Магістр)
				li Транспортні системи (Магістр) 
		+specislty_item( { thumbnail: src.img+'sectors/27.png', code: '27', title: 'Транспортні технології. На автомобільному транспорті', sector: 'Транспорт' } )
			ul
				li Транспортні технології на автомобільному транспорті (Бакалавр)
				li Організація міжнародних перевезень (Бакалавр) на базі вищої освіти
				li Організація перевезень і управління на автомобільному транспорті (Бакалавр) на базі вищої освіти
				li Організація міжнародних перевезень (Магістр)
				li Організація перевезень і управління на автомобільному транспорті (Магістр) 