extend layout/_index


block variables
	- page.type = 'page single';
	- page.title = 'Контакты';



block main
	.container
		h1 #{page.title}
		include blocks/_breadcrumbs
		.row
			.col-xs-6
				img( src=src.img+'user.png', alt="user", width=300 )
			.col-xs-6
				include forms/_contacts