extend layout/_index


block variables
	- page.type = 'page singular single';
	- page.title = 'Гутенберг блоки';



block main
	include blocks/_pageheader
	.container
		+heading( { thumbnail: src.img+'sectors/01-bg.jpg', title: 'Заголовок с иконкой' } )
		h2 Аккордеон
		.accordio.accordio--warning( data-heading="h3" )
			+heading( { thumbnail: src.img+'sectors/03-bg.jpg', title: 'Пункт с иконкой' } )
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur recusandae impedit, a, quia eligendi quis. Fuga laboriosam quas harum, soluta porro veniam fugiat sint atque possimus debitis! Reprehenderit numquam, ad!
			h3 Пункт без иконки
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nam veniam nostrum dolorem, temporibus commodi recusandae quis velit autem odio a aut voluptatibus, possimus culpa voluptatum. Blanditiis cumque, repellendus numquam!
		h2 Табы
		.tabs.tabs--info( data-heading="h3" )
			h3 Первая вкладка
			p Lorem ipsum dolor sit amet, consectetur #[span.bg-info adipisicing elit]. Veritatis impedit exercitationem nemo ipsa ullam magni, nostrum vitae iste ratione blanditiis tempore, saepe perferendis, facilis ipsum praesentium dolorum inventore consectetur excepturi.
			h3 Вторая вкладка
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nemo quasi repellat aliquam sapiente ab, voluptate fugiat accusantium ex rem, temporibus, quis recusandae ducimus tenetur odio, quidem dolore. Sit, et!
		h2 "Флат"-блоки
		.row
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/ukraine.jpg', title: 'Бізнес-адміністрування (Бакалавр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/studyinukraine.jpg', title: 'Підприємництво, торгівля та біржова діяльність (Бакалавр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/oops.jpg', title: 'Комп’ютерне моделювання (Магістр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/career.jpg', title: 'Інформаційні системи та технології (Магістр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/cources.jpg', title: 'Відновлення та підвищення зносостійкості деталей і конструкцій (Магістр)' } )
			.col-xs-6.col-sm-4.col-md-4.col-lg-2: +flatitem( { thumbnail: src.img+'services/.jpg', title: 'Підйомно-транспортні, дорожні, будівельні, меліоративні машини і обладнання (Магістр)' } )
