extend layout/_index


block variables
	- page.type = 'front-page';
	- page.title = 'Главная';



block main
	include home/_firstscreen
	include home/_about
	include home/_news
	include home/_action
	include home/_specialties
	include home/_videos
	include home/_people
	include home/_services
	include home/_questions