extend layout/_index


block variables
	- page.type = 'front-page';
	- page.title = blog.name;


block main
	.container: .row
		.col-xs-12.col-sm-8
			include home/_jumbotron
			include home/_entries
		.col-xs-12.col-sm-4: include asides/_home
	include home/_about
	include home/_action
	include home/_contacts
	include home/_map