html
	head
		title Examples
		meta( name="viewport", content="initial-scale=1.0, width=device-width" )
		meta( charset="utf-8" )
	body
		ul
			li: a( href="examples/home.html" ) Главная
			li: a( href="examples/singular.html" ) Страница
			li: a( href="examples/404.html" ) Ошибка 404
			li: a( href="examples/archive.html" ) Архив