html
	head
		title Examples
		meta( charset="utf-8" )
	body
		ul
			li: a( href="examples/home.html" ) Главная
			li: a( href="examples/archive.html" ) Блог
			li: a( href="examples/page.html" ) Страница
			li: a( href="examples/404.html" ) 404
			li: a( href="examples/contacts.html" ) Контакты