extend layout/_index


block variables
	- page.type = 'front-page';
	- page.title = 'Главная';



block main
	include blocks/_pageheader
	.container
		include blocks/_breadcrumbs
		include blocks/_content
		include blocks/_content
		include blocks/_pager