extend layout/_index


block variables
	- page.type = 'page singular single';
	- page.title = 'Абитуриенту';



block main
	include blocks/_jumbotron
	.container
		include blocks/_breadcrumbs
		include blocks/_content
		include blocks/_content
		include blocks/_pager