extend layout/_index


block variables
	- page.type = 'page singular single';
	- page.title = 'Автоматизація та комп’ютерно-інтегровані технології (Бакалавр)';



block main
	include blocks/_pageheader
	.container
		.tabs.tabs--primary( data-heading="h2" )
			h2 Конкурсные предложения
			.accordio.accordio--primary( data-heading="h4" ).
				<h4>1 курс Денна на базі ПЗСО </h4>
				<ul>
				<li>Назва в ЄДЕБО: <b>1 курс Денна Автоматизація та комп’ютерно-інтегровані технології Бакалавр</b></li>
				<li>Вид пропозиції: <b>фіксована</b></li>
				<li>Попередня освіта: <b>ПЗСО</b></li>
				<li>Форма навчання: <b>денна</b></li>
				<li>Термін навчання: <b>3 роки 10 місяців</b></li>
				<li>Компоненти та їх вага:
				<ul>
				<li><b>українська мова і література</b>  - 0.2</li>
				<li><b>математика</b>  - 0.4</li>
				<li><b>фізика</b>  - 0.3</li>
				<li><b>іноземна мова</b>  - 0.3</li>
				<li><b>середній бал додатка до атестату</b>  - 0.1</li>
				<li><b>додатковий бал за особливих умов</b>  - 0.0</li>
				</ul>
				</li>
				</ul>
				<h4>1 курс Денна на базі МС і паралельне навчання </h4>
				<ul>
				<li>Назва в ЄДЕБО: <b>1 курс скорочений Денна Автоматизація та комп’ютерно-інтегровані технології Бакалавр</b></li>
				<li>Вид пропозиції: <b>фіксована</b></li>
				<li>Попередня освіта: <b>МС або паралельне навчання</b></li>
				<li>Форма навчання: <b>денна</b></li>
				<li>Термін навчання: <b>2 роки 10 місяців</b></li>
				<li>Компоненти та їх вага:
				<ul>
				<li><b>фахове випробування</b>  - 1.0</li>
				<li><b>інше</b> <small>(середній бал додатка, курси)</small> - 1.0</li>
				</ul>
				</li>
				</ul>
				<h4>1 курс Заочна на базі ПЗСО </h4>
				<ul>
				<li>Назва в ЄДЕБО: <b>1 курс Заочна Автоматизація та комп’ютерно-інтегровані технології Бакалавр</b></li>
				<li>Вид пропозиції: <b>небюджетна</b></li>
				<li>Попередня освіта: <b>ПЗСО</b></li>
				<li>Форма навчання: <b>заочна</b></li>
				<li>Термін навчання: <b>4 роки 10 місяців</b></li>
				<li>Компоненти та їх вага:
				<ul>
				<li><b>українська мова і література</b>  - 0.2</li>
				<li><b>математика</b>  - 0.4</li>
				<li><b>фізика</b>  - 0.3</li>
				<li><b>іноземна мова</b>  - 0.3</li>
				<li><b>середній бал додатка до атестату</b>  - 0.1</li>
				<li><b>інше</b> <small>(середній бал додатка, курси)</small> - 0.1</li>
				</ul>
				</li>
				</ul>
				<h4>3 курс Заочна на базі МС і паралельне навчання </h4>
				<ul>
				<li>Назва в ЄДЕБО: <b>3 курс Заочна Автоматизація та комп’ютерно-інтегровані технології Бакалавр</b></li>
				<li>Вид пропозиції: <b>небюджетна</b></li>
				<li>Попередня освіта: <b>МС або паралельне навчання</b></li>
				<li>Форма навчання: <b>заочна</b></li>
				<li>Термін навчання: <b>2 роки 10 місяців</b></li>
				<li>Компоненти та їх вага:
				<ul>
				<li><b>фахове випробування</b>  - 1.0</li>
				<li><b>інше</b> <small>(середній бал додатка, курси)</small> - 1.0</li>
				</ul>
				</li>
				</ul>
			h2 Додаткова інформація
			include blocks/_content
		include blocks/_pager