extend layout/_index


block variables
	- page.type = 'page singular single';
	- page.title = 'Шаблон singular';



block main
	include blocks/_pageheader
	.container
		include blocks/_content
		include blocks/_content
		.text-right Опубликовано #[time.small( datetime="2004-07-24T18:18:18+04:00" ) 2020.12.5]
		include blocks/_pager