extend layout/_index


block variables
	- page.type = 'page singular single';
	- page.title = 'Шаблон singular';



block main
	include blocks/_pageheader
	.container
		include blocks/_content
		include blocks/_content
		include blocks/_pager