extend layout/_index


block variables
	- page.type = 'singular single page';
	- page.title = 'Шаблон отдельной страницы и записей блога';


block main
	.container: .row
		.col-xs-12.col-md-8
			include blocks/_pageheader
			include blocks/_content
			include blocks/_content
			include blocks/_content
			include blocks/_pager
			img.center-block.lazy( src="#", data-src=src.img+'comments.png', alt="Пример комментария" )
		.col-xs-12.col-md-4: include asides/_column