








.action {

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.logo {
		width: 10em;
		height: 10em;
		display: block;
		margin: .5em auto;
	}

	.title, .excerpt {
		margin: .5em 0;
		color: #fff;
		// text-shadow: .1em .1em .1em #000;
	}

}