//
// Главная страница
// Секция
//





.action {

	margin: 2em 0;

	.title {
		color: #fff;
		text-align: left;
		margin: 0;
	}

	.permalink,
	.excerpt {
		margin: 1em auto;
	}

	.thumbnail {
		display: block;
		position: relative;
		overflow: hidden;
		font-size: 4em;
	}

	.thumbnail:after {
		@extend %video-button;
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
	}


	img {
		display: block;
		width: 100%;
	}

	.wrap {
		box-shadow: $block-shadow;
		color: #fff;
		background-color: $brand-primary;
	}

	.overlay {
		padding: 1em;
	}

}