//
// Блок главной страницы
// 
//



.entries {

	margin-bottom: 3em;

	.item {
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 1em;
		background-color: #fff;
	}

	// .item.slick-active {
	// 	transform: scale( 1.0 );
	// }

	&__item {
		h3 {
			margin: 0;
		}
		p {
			margin: 0 0 1em 0;
		}
		.permalink {
			@extend %button;
			@extend %button-small-success;
			@extend %button-small;
			margin-top: auto;
		}
		.thumbnail {
			display: block;
			position: relative;
			display: none;
			@include min-width( $screen-md ) {
				display: block;
			}
		}
		.wp-post-thumbnail {
			display: block;
			// box-shadow: $block-shadow;
		}
		.date {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba( 0, 0, 0, .5 );
			color: #fff;
			font-size: 85%;
			padding-left: .5em;
			padding-right: .5em;
		}
	}

}