
// главная страница - первый экран
.firstscreen {

	position: relative;

	.slider-controls {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		visibility: hidden;
	}

	.slider-controls .slider-arrow {
		@extend %icon-arrow-light;
	}

	.slider-controls .slider-dots button {
		background-color: #fff;
	}

	.slick-slide {
		display: none;
	}

	.slick-slide:nth-of-type( 1 ) {
		display: block;
	}

	.slick-slide {
		.title {
			transform: translate( 15rem, 0 );
			opacity: .5;
			transition-property: transform, opacity;
			transition-delay: .2s;
			transition-duration: .7s;
		}
		.excerpt{
			transform: translate( 15rem, 0 );
			opacity: .5;
			transition-property: transform, opacity;
			transition-delay: .3s;
			transition-duration: .7s;
		}
		.btn {
			transform: translate( 15rem, 0 );
			opacity: .5;
			transition-property: transform, opacity;
			transition-delay: .4s;
			transition-duration: .7s;
		}
	}

	.slick-slide.slick-current {
		display: block;
	}

	.slick-slide.slick-active {
		.title,
		.excerpt,
		.btn {
			transform: translate( 0, 0 );
			opacity: 1;
		}
	}

	.warning {
		padding-left: 0;
		margin-bottom: 0;
		padding: .5em 1em;
		background-color: transparentize( $brand-primary, .25 );
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000;
		text-align: center;
		display: none;
		visibility: hidden;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		transform: translate( 0%, 100% );
		transition: transform .2s, background-color .2s;
		@include min-width( $screen-lg ) {
			display: flex;
			visibility: visible;
		}
	}

	.warning.active {
		transform: translate( 0%, 0% );
	}

	.warning:hover {
		background-color: transparentize( $brand-primary, 0 );
	}

	.warning a {
		color: #fff;
	}

	.warning a:hover {
		text-decoration: underline;
	}

	.warning li {
		margin-right: 1em;
	}

	.warning li + li::before {
		content: '|';
		margin-right: 1em;
		color: #fff;
	}

	.warning ~ .slider-controls {
		@include min-width( $screen-lg ) {
			margin-bottom: $line-height-base + 1em;
		}
	}

}