
// главная страница - первый экран
.firstscreen {

	position: relative;

	.slider-controls {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		visibility: hidden;
	}

	.slider-controls .slider-arrow {
		@extend %icon-arrow-light;
	}

	.slider-controls .slider-dots button {
		background-color: #fff;
	}

	.slide {
		display: none;
	}

	.slide:nth-of-type( 1 ) {
		display: block;
	}

}