//- главная странца
//- Новости


.news {

	.categories-names .item {
		cursor: pointer;
		padding: .5em 1em;
		transform: scale( .8 );
		transform-origin: center center;
		transition: transform .2s;
		border: 1px solid transparent;
		display: inline-block;
	}

	.categories-names .item.active {
		transform: scale( 1 );
		border-color: $brand-primary;
	}

	.news-list {
		position: relative;
	}
	
	.news-list .item {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		padding: .5em 1em;
		// opacity: 0;
	}

	// .news-list .item.active {
	// 	opacity: 1;
	// }

	.thumbnail {
		display: block;
		position: relative;
		margin: 0 0 $flexboxgrid-outer-margin 0;
		overflow: hidden;
		max-height: 250px;
	}


	.thumbnail:hover img {
		transform: scale( 1.2 ) rotate( 5deg );
	}


	.thumbnail::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparentize( $brand-primary, .5 );
		z-index: 0;
	}

	#news-list-entries-small .thumbnail + .thumbnail {
		margin-left: $flexboxgrid-outer-margin;
	}


	&__thumbnail {
		img {
			display: block;
			width: 100%;
			position: relative;
			z-index: 0;
			transform-origin: center center;
			transition: 5s transform;
		}
		h3 {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: .5em 1em;
			color: #fff;
			z-index: 1;
			font-size: 1em;
		}
	}


	.entry {
		display: block;
		margin: 0 0 $flexboxgrid-outer-margin $flexboxgrid-outer-margin;
	}


	.entry + .entry {
		border-top: 1px solid #e1e1e1;
		padding-top: $flexboxgrid-outer-margin;
	}


	&__entry {
		h3 {
			margin: 0;
		}
		h3 a:hover {
			text-decoration: none;
		}
		p {
			@extend .small;
			margin: 0;
		}
	}
	

}