
// главная страница - Выпускники
.people {

	.bgi {
		@extend %bgi;
		@extend %bgi-cover;
		opacity: .5;
		filter: blur( .15em );
		transform-origin: center center;
		transform: scale( 1.25 );
	}

	h2 {
		margin: 0;
	}

	.description {
		margin: 1em 0;
	}

}