
// главная странциа - задать вопрос
.questions {

	.bgi {
		@extend %bgi;
		@extend %bgi-cover;
	}

	.bgi:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparentize( $brand-primary, .5 );
	}
	
	.title {
		font-size: 1.25em;
		color: #fff;
		text-shadow: .2em .2em .5em rgba( 0, 0, 0, .9 );
		@include min-width( $screen-md ) {
			font-size: 2em;
		}
	}

	.links li {
		display: block;
		font-size: 200%;
	}

	.links a {
		color: #fff;
		text-shadow: .2em .2em .5em rgba( 0, 0, 0, .9 );
	}

	.title,
	.links,
	.permalink-wrap {
		text-align: center;
		@include min-width( $screen-md ) {
			text-align: right;
		}
	}

	.permalink {
		box-shadow: .2em .2em 2em rgba( 0, 0, 0, .5 );
	}

	.form,
	form {
		background-color: #fff;
		padding: 1em;
		margin: 2em auto;
		box-shadow: 0 0 2em rgba( 0, 0, 0, .5 );
		@include min-width( $screen-md ) {
			padding: 2em;
		}
	}

}