//-
	Подвал сайта





.container: .row.middle-xs
	.col-xs-6.col-sm-6.col-md-6.col-lg-6
		p.copyright: a( href="home.html" ) #{blog.name}
	.col-xs-6.col-sm-6.col-md-6.col-lg-6
		p.developer: a( href="https://chomovva.ru" ) chomovva