head
	meta( charset="utf-8" )
	meta( http-equiv="X-UA-Compatible", content="IE=edge" )
	meta( name="viewport" content="initial-scale=1.0, width=device-width" )
	title #{page.title}
	meta( name="description", content=page.excerpt )
	link( rel="stylesheet", href=src.css+"critical.css" )
	script.
		VstupTheme = {
			toTopBtn: 'Наверх'
		};
	link( rel="preload" href="../fonts/Montserrat-normal-cyrillic.woff2" as="font" crossorigin="anonymous" )
	link( rel="preload" href="../fonts/Montserrat-italic-cyrillic.woff2" as="font" crossorigin="anonymous" )
	link( rel="preload" href="../fonts/Montserrat-normal-bold-latin.woff2" as="font" crossorigin="anonymous" )
	link( rel="preload" href="../fonts/Montserrat-normal-bold-cyrillic.woff2" as="font" crossorigin="anonymous" )
	link( rel="preload" href="../fonts/Montserrat-normal-latin.woff2" as="font" crossorigin="anonymous" )
	link( rel="preload" href="../fonts/Montserrat-italic-latin.woff2" as="font" crossorigin="anonymous" )