//-
	Шапка сайта





.line.line--panel: .container.wrap
	ul.links.list-inline
		li: a.faq( href="#" ) #[span.label Вопросы ответы]
		li: a.schedule( href="#" ) #[span.label Расписание]
	ul.links.socials.list-inline
		li: a.facebook( href="#" ) #[span.sr-only facebook]
		li: a.twitter( href="#" ) #[span.sr-only twitter]
		li: a.instagram( href="#" ) #[span.sr-only instagram]
		li: a.youtube( href="#" ) #[span.sr-only youtube]
	ul.links.contacts.list-inline
		li: a.phone( href="tel:380629343097" ) #[span.label (0629) 34-30-97]
		li: a.email( href="mailto:priem@pstu.edu" ) #[span.label priem@pstu.edu]
	include ../forms/_search
	ul.languages.list-inline
		li.current RU
		li: a( href="#" ) UK
		li: a( href="#" ) EN
.line.line--nav: .container.wrap
	a.custom-logo-link( href="#", title=blog.description )
		img.custom-logo( src=src.img+'logo.png', alt=blog.name )
		.blog-name #{blog.name}
	nav.nav: include ../navs/_main