//-
	Первый экран
	Страницы: главная, пост, страница





.jumbotron: .container
	.bg.lazy( data-src=src.img+'jumbotron.jpg' )
	h1.title #{page.title}
	ul.menu
		li: a( href="#" ) Для выпускников школ
		li: a( href="#" ) Для выпускников техникумов
		li: a( href="#" ) Для магистров
		li: a( href="#" ) Правила приёма
		li: a( href="#" ) Стоимость обучения
		li: a( href="#" ) Конкурсные предметы
		li: a( href="#" ) Перевод на вакантные места
		li: a( href="#" ) Списки
		li: a( href="#" ) Государственный заказ
		li: a( href="#" ) Программы вступительных экзаменов