nav.nav#nav
	button#burger.nav__burger.burger.navtoggle
		span Открыть меню
	ul.nav__languages.languages
		li.current RU
		li: a( href="#" ) UK
		li: a( href="#" ) EN
	ul.nav__list.list#nav-list
		li: a( href="#" ) Главная
		li.has-sub-menu.column
			a( href="#" ) Специальности
			ul.sub-menu
				li: a( href="#" ) Калькулятор
				li: a( href="#" ) Предложения для поступающих
				li: a( href="#" ) Список специальностей
		li.has-sub-menu
			a( href="#" ) Поступление 2019
			ul.sub-menu
				li.has-sub-menu
					a( href="#" ) Правила приёма
					ul.sub-menu
						li: a( href="#" ) Приложение 1 - Поступление в Аспирантуру
						li: a( href="#" ) Приложение 2 - Перечень специальностей
						li: a( href="#" ) Приложение 3 - Конкурсные предложения
						li: a( href="#" ) Приложения 4 - Специальности с поддержкой
						li: a( href="#" ) Приложение 5 - Объём приёма
						li: a( href="#" ) Приложение 6 - Особенности поступления иностранцев
				li: a( href="#" ) Стоимость обученияы
				li: a( href="#" ) Программы вступительных экзаменов
				li.has-sub-menu
					a( href="#" ) Государственный заказ
					ul.sub-menu
						li: a( href="#" ) ОС Бакалавр
						li: a( href="#" ) ОС Магистр
				li.has-sub-menu
					a( href="#" ) Списки
					ul.sub-menu
						li: a( href="#" ) Рекомендованные к зачислению
						li: a( href="#" ) Зачисленные
						li: a( href="#" ) Приказы на зачисление
				li: a( href="#" ) Календарь абитуриента
				li: a( href="#" ) Специальные условия (льготы)
				li: a( href="#" ) Сроки подачи документов
				li: a( href="#" ) Конкурсные предметы
				li: a( href="#" ) Конкурсный отбор
				li: a( href="#" ) Перевод на вакантные места
		li: a( href="#" ) Приёмная комиссия
		li: a( href="#" ) Контакты