//
	Пагинация WP
nav.navigation.pagination
	h2.screen-reader-text Навигация по записям
	div.nav-links
		span.page-numbers.current #[span.meta-nav.screen-reader-text Страница ]1
		a.page-numbers(href="#") #[span.meta-nav.screen-reader-text Страница ]2
		span.page-numbers.dots …
		a.page-numbers(href="#") #[span.meta-nav.screen-reader-text Страница ]86
		a.page-numbers(href="#") #[span.meta-nav.screen-reader-text Страница ]87
		a.next.page-numbers(href="#") »