ul.share
	li: a.facebook( href="#" ) #[span.sr-only Поделиться в facebook]
	li: a.twitter( href="#" ) #[span.sr-only Поделиться в twitter]
	li: a.linkedin( href="#" ) #[span.sr-only Поделиться в linkedin]
	li: a.email( href="#" ) #[span.sr-only Поделиться в email]