//-
	Список соц сетей





ul.socials
	li: a.facebook( href="#" ) #[span.sr-only Facebook]
	li: a.twitter( href="#" ) #[span.sr-only Twitter]
	li: a.linkedin( href="#" ) #[span.sr-only Linkedin]
	li: a.instagram( href="#" ) #[span.sr-only Instagram]
	li: a.youtube( href="#" ) #[span.sr-only YouTube]