//-
	Список ссылок на соцсети

ul.links.socials.list-inline
	li: a.facebook( href="#" ) #[span.sr-only facebook]
	li: a.twitter( href="#" ) #[span.sr-only twitter]
	li: a.instagram( href="#" ) #[span.sr-only instagram]
	li: a.youtube( href="#" ) #[span.sr-only youtube]