//-
	Главная страница
	Секиция 







section.section.action#action: .container: .wrap: .row.middle-xs
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		a.thumbnail.fancybox( href="https://youtu.be/Z9eQAszhC2I", role="button" )
			img.lazy( src="#", data-src=src.img+'action/thumbnail.jpg', alt=blog.description )
			div.sr-only Смотреть видео
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: .overlay
		h2.title Поступай в ПГТУ
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		a.btn.btn-success.btn-lg.permalink( href="#" ) Подробней