










section.section.action.lazy#action( data-src=src.img+'action/bg.jpg' ): .container: .row.middle-xs.center-xs
	.col-xs-12.col-sm-6.col-md-5.col-md-offset-1.text-center
		a.play.fancybox( href="https://youtu.be/IUXXfvIUIKg" )
			span.sr-only Смотреть видео
	.col-xs-12.col-sm-6.col-md-5.col-md-offset-1.text-center
		img.lazy.logo( src='#' data-src=src.img+'gerb.png' alt='' )
		h2.title Почни з нами
		.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem iure quia, saepe, harum eligendi blanditiis mollitia, dignissimos officiis aliquid laboriosam velit et error nemo? Ex eos dignissimos provident libero.
		p: a.btn.btn-success( href="#" ) Вступ 2020
