//-
	Главная страница
	Новости



mixin entries_item( args )
	.entries__item.item: .row
		.col-xs-12.col-sm-4.col-md-3
			a.thumbnail( href="#" )
				img.lazy.wp-post-thumbnail( src="#", data-src=args.thumbnail, alt=args.title )
				.date 20.09.2019
		.col-xs-12.col-sm-8.col-md-9
			h3 #{args.title}
			p #{args.excerpt}
			.text-right: a.permalink( href="#" ) Подробней


.entries#entries
	.slider#entries-slider
		+entries_item( { thumbnail: src.img+'default.png', title: 'Заголовок новости 1', excerpt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla sed adipisci magnam molestias, earum hic pariatur at temporibus porro. Ad quo sapiente tenetur necessitatibus doloribus dolorem sequi recusandae laudantium.' } )
		+entries_item( { thumbnail: src.img+'default.png', title: 'Заголовок новости 2', excerpt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla sed adipisci magnam molestias, earum hic pariatur at temporibus porro. Ad quo sapiente tenetur necessitatibus doloribus dolorem sequi recusandae laudantium.' } )
		+entries_item( { thumbnail: src.img+'default.png', title: 'Заголовок новости 3', excerpt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla sed adipisci magnam molestias, earum hic pariatur at temporibus porro. Ad quo sapiente tenetur necessitatibus doloribus dolorem sequi recusandae laudantium.' } )
	//- .slider-controls#entries-slider-controls
	//- 	button#entries-slider-prev.slider-arrow.slider-prev( role="button" ) #[span.sr-only Предыдущий слайд]
	//- 	button#entries-slider-next.slider-arrow.slider-next( role="button" ) #[span.sr-only Следующий слайд]