//-
	Блок главной страницы
	Карта








.map#map
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5432.370802232586!2d37.537729301794116!3d47.0954359672442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e6e463081feba7%3A0xa6496d27f2ca6fcb!2z0J_RgNC40LDQt9C-0LLRgdGM0LrQuNC5INC00LXRgNC20LDQstC90LjQuSDRgtC10YXQvdGW0YfQvdC40Lkg0YPQvdGW0LLQtdGA0YHQuNGC0LXRgiDRltC8Lg!5e0!3m2!1sru!2sua!4v1574842215923!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>