





mixin people_item( args )
	.people__entry.entry
		a.thumbnail( href="#" ): img.wp-post-tumbnail( src="#", data-lazy=args.thumbnail, alt=args.name )
		h3.name: a( href="#" ) #{args.name}
		.excerpt #{args.excerpt}




section.section.people#people
	.container: .row.row-reverce.center-xs.middle-xs
		.col-xs-12.col-sm-6.col-sm-offset-1.col-sm-offset-2: .wrap
			h2 Мрій! Вчися! Не тони!
			h2 добавить фонт к гавриками
			.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis provident consequatur ratione harum corporis omnis beatae dolore voluptatum obcaecati voluptas optio facilis molestiae, odit ipsum reiciendis vero, quo eligendi. Dignissimos!
			p: a.btn.btn-success( href="#" ) Кнопка
		.col-xs-12.col-sm-5.col-md-4.first-sm: .slider
			#people-list
				+people_item( { bg: src.img+'people/.jpg' thumbnail: src.img+'people/01.jpg', name: 'Анатолій Гущин', excerpt: 'Учасник і дипломант фестивалів художньої ковки. Організатор «Сталевого джерела» в Маріуполі.' } )
				+people_item( { bg: src.img+'people/.jpg' thumbnail: src.img+'people/02.jpg', name: 'Марина Гарманюк', excerpt: 'Диплом II ступеня Всеукраїнського конкурсу студентських наукових робіт 2018-2019 навчального року з галузі «Енергетика»' } )
				+people_item( { bg: src.img+'people/.jpg' thumbnail: src.img+'people/03.jpg', name: 'Костянтин Згара', excerpt: 'Диплом III cтупеня Всеукраїнського конкурсу студентських наукових робіт 2018-2019 навчального року з галузі «Енергетика»' } )
				+people_item( { bg: src.img+'people/.jpg' thumbnail: src.img+'people/04.jpg', name: 'Сергій Гулак', excerpt: 'Диплом Міністерства освіти і науки України за III місце у Всеукраїнському конкурсі студентських наукових робіт 2018-2019 навчального року за спеціальністю «Інженерія програмного забезпечення»' } )
				+people_item( { bg: src.img+'people/.jpg' thumbnail: src.img+'people/05.jpg', name: 'Олексій Голубятник', excerpt: 'Призерка Всеукраїнського конкурсу студентських наукових робіт із галузі «Загальна та соціальна психологія»' } )
			button.slider-arrow.arrow-prev#people-arrow-prev #[span.sr-only Предыдущий слайд]
			button.slider-arrow.arrow-next#people-arrow-next #[span.sr-only Следующий слайд]